<template>
  <div class="actionButtons">
    <v-icon v-if="showAdd" @click.prevent="addMethod" class="add buttonIcon"
            :class="[{buttonIcon_vertical:isVertical,buttonIcon_horizontal:!isVertical }]" name="regular/plus-square"/>
    <v-icon @click.prevent="editMethod" class="edit buttonIcon"
            :class="[{buttonIcon_vertical:isVertical,buttonIcon_horizontal:!isVertical }]" name="regular/edit"/>
    <v-icon @click.prevent="deleteMethod" class="delete buttonIcon"
            :class="[{buttonIcon_vertical:isVertical,buttonIcon_horizontal:!isVertical }]" name="regular/trash-alt"/>
  </div>
</template>

<script>
export default {
  name: "action_buttons",
  props: {
    isVertical: {
      type: Boolean,
      default: false
    },
    showAdd: {
      type: Boolean,
      default: true
    },
    addMethod: {
      type: Function,
      default: () => {},
    },
    editMethod: {
      type: Function,
      default: () => {},
    },
    deleteMethod: {
      type: Function,
      default: () => {},
    },
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors.scss";

.actionButtons {
  margin-left: auto;
  text-align: right;

  .buttonIcon {
    height: 1.2em;
    width: 1.2em;
    transition: 250ms ease-in-out;

    &:hover {
      cursor: pointer;
    }
  }

  .buttonIcon_horizontal {
    color: #BDBDBD;
    margin-right: .6em;

    &:hover {
      transform: translateY(-4px);

    }
  }

  .buttonIcon_vertical {
    color: $black;

    &:hover {
      transform: translateX(4px);

    }
  }

  .add {

    &:hover {
      color: $green;
    }
  }

  .edit:hover {
    color: $yellow;
  }

  .delete:hover {
    color: $red;
  }
}
</style>