<template>
  <button @click="clickButton" class="addButton">+</button>
</template>

<script>
export default {
  name: "addButton",
  props: {
    clickButton: {
      type: Function,
    },
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.addButton {
  width: fit-content;
  height: fit-content;
  padding: .5em .8em;
  margin-top: -.5em;
  font-size: 2em;
  justify-self: end;
  margin-left: auto;
  box-shadow: 2px 4px 6px #979797;
  border-radius: 60%;
  background-color: $purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: transform 250ms, opacity 400ms;
  position: relative;
  z-index: 100;

  &:hover {
    cursor: pointer;
    transform: translateY(-10px);
  }
}
</style>