<template>
  <transition name="modal-fade">
    <div class="modal_wrapper" @click="closeModal()" >
      <div class="modal" @click.stop :style="[{'width':width},{'height':height},{'padding':padding} ]">
        <button
            type="button"
            class="xButton"
            @click="closeModal()"> x
        </button>
        <header class="modal-header">
          <slot name="header">
          </slot>
        </header>

        <section class="modal-body">
          <slot name="body">
          </slot>
        </section>

        <footer class="modal-footer">
          <slot name="footer">
          </slot>
        </footer>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  name: "custom_modal",
  props: ['width', 'height', 'padding'],
  methods: {
    closeModal() {
      this.$emit('close');
    },
  }

}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

@media only screen and (max-width: 550px) {
  .modal{
    max-width: 80%;
  }
}

.modal_wrapper {
  z-index: 100;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;

  .modal {
    background: #FFFFFF;
    border: 1px solid #F2EFFC;
    box-sizing: border-box;
    box-shadow: 5px 4px 15px rgba(151, 151, 151, 0.7);
    border-radius: 10px;
    padding: 10px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    position: relative;

    .xButton {
      color: $buttonInactive;
      position: absolute;
      top: 0;
      right: 5px;
      font-size: 1.5em;
      font-weight: bold;


      &:hover {
        cursor: pointer;
        color: $black;
        transform: translateY(-4px);
        transition: .2s ease-in-out;
      }
    }

    .modal-header,
    .modal-footer {
      display: flex;

    }

    .modal-header {
      font-size: 1.5em;
      font-weight: bold;
      margin: .2em 0;
    }

    .modal-body {
      position: relative;
      height: 100%;
    }

    .modal-footer {
    }
  }
}


.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity .2s ease;
}

</style>