<template>
  <modal
      v-show="show_modal"
      @close="closeModal">
    <template v-slot:header>
      <h2 class="title" v-if="confirm"> Do you wish to delete {{ item }}? </h2>
      <div v-else>
        <h2 v-if="success"> The {{ item }} deleted successfully</h2>
        <h2 v-if="!success"> Error deleting {{ item }}</h2>
      </div>
    </template>

    <template v-slot:body>
      <div v-if="confirm" class="icon sad"><p>?</p></div>
      <div v-else>
        <div v-if="success" class="icon smile"><p style="transform: rotate(90deg);">:</p>
          <p style="transform: rotate(90deg);">)</p></div>
        <div v-else class="icon sad"><p style="transform: rotate(90deg);">:</p>
          <p style="transform: rotate(90deg);">(</p></div>
      </div>
    </template>

    <template v-slot:footer>
      <button :style="{'background-color': confirm? 'red': !success? 'red': 'green'}" class="button"
              @click="okPressed"> {{ confirm ? 'Delete' : 'OK' }}
      </button>
    </template>
  </modal>
</template>

<script>
import modal from "@/components/shared/custom_modal";
import purple_button from "@/components/shared/purple_button";
import addButton from "@/components/shared/addButton";

export default {
  name: "delete_info_modal",
  components: {purple_button, addButton, modal},
  props: ['show_modal', 'confirm', 'success', 'item', 'group_type', 'customerToDelete', 'projectToDelete', 'employeeToDelete', 'jobToDelete'],
  methods: {
    closeModal() {
      this.$emit('closeModal');
    },
    okPressed() {
      if(!this.confirm){
        return this.closeModal();
      }
      switch (this.group_type) {
        case 'customer': {
          this.$store.dispatch('deleteCustomer', this.customerToDelete);
          this.$emit('ok');
          break;
        }
        case 'employee': {
          this.$store.dispatch('deleteEmployee', this.employeeToDelete);
          this.$emit('ok');
          break;
        }
        case 'project': {
          this.$store.dispatch('deleteProject', this.projectToDelete);
          this.$emit('ok');
          break;
        }
        case 'job': {
          this.$store.dispatch('deleteSchedule', this.jobToDelete);
          this.$emit('ok');
          break;
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

h2 {
  padding: 1em 1em 0 1em;
}

.icon {
  margin: 2em auto;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
}

.sad {
  background-color: red;
}

.smile {
  background-color: greenyellow;
}

.button {
  margin: auto;
  margin-bottom: .7em;
  width: 80%;
  padding: .6em;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

</style>