<template>
  <modal
      v-show="show_modal"
      @close="closeModal">
    <template v-slot:header>
      <h2 v-if="success && addressEdit"> Address changed successfully</h2>
      <h2 v-if="success && !addressEdit"> The {{ groupName }} edited successfully</h2>
      <h2 v-if="!success && addressEdit"> Error editing address</h2>
      <h2 v-if="!success && !addressEdit"> Error editing {{ groupName }}</h2>
    </template>

    <template v-slot:body>
      <div v-if="success" class="icon smile"><p style="transform: rotate(90deg);">:</p>
        <p style="transform: rotate(90deg);">)</p></div>
      <div v-else class="icon sad"><p style="transform: rotate(90deg);">:</p>
        <p style="transform: rotate(90deg);">(</p></div>
    </template>

    <template v-slot:footer>
      <button :style="{'background-color': success? 'green': 'red'}" class="button"
              @click="okPressed">OK
      </button>
    </template>
  </modal>
</template>

<script>
import modal from "@/components/shared/custom_modal";
import purple_button from "@/components/shared/purple_button";
import addButton from "@/components/shared/addButton";

export default {
  name: "edit_info_modal",
  components: {purple_button, addButton, modal},
  props: ['show_modal', 'success', 'addressEdit', 'groupName'],
  methods: {
    closeModal() {
      this.$emit('closeModal');
    },
    okPressed() {
      this.addressEdit ?
          this.$emit('closeModal') :
          this.$emit('ok')
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

h2 {
  padding: 1em 1em 0 1em;
}

.icon {
  margin: 2em auto;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: bold;
  font-size: 1.4em;
}

.sad {
  background-color: red;
}

.smile {
  background-color: greenyellow;
}

.button {
  margin: auto;
  margin-bottom: .7em;
  width: 80%;
  padding: .6em;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
}

</style>