<template>
  <!--                {{ projectById(project.customerId, project.projectId).name}}-->
  <div
      :style="[{'height': getProjectLength(job.startTime,  job.endTime)* 3.7 + 'vh'},{'color':projectColor(job.customerId, job.projectId)}]">
    <p class="name">{{ projectName(job.customerId, job.projectId) }}</p>
    <p class="info"> {{ job.startTime.slice(0, 5) }} - {{ job.endTime.slice(0, 5) }} •
      {{ projectAddress(job.customerId, job.projectId) }}
    </p>
  </div>

</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "job_bubble",
  props: {
    job: {
      type: Object,
      default: {}
    },
    jobArray: {
      type: Array,
    },
    selectedJob: {
      type: Number
    },
  },
  computed: {
    ...mapGetters([
      'projectName',
      'projectAddress',
      'projectColor',
    ]),
  },
  methods: {
    toggleDetailSidebar(id) {
      this.$emit('toggleJobDetail', id);
    },
    getProjectLength(start, end) {
      return parseInt(end.slice(0, 2)) - parseInt(start.slice(0, 2));
    },
  }
}
</script>

<style scoped lang="scss">


.name {
  max-width: 100%;
  text-align: left;
  margin-bottom: .5em;
  font-size: 1.1em;
  font-weight: bold;

}

.info {
  font-size: .7em;
  opacity: 90%;
  line-height: 1.3em;
  text-align: left;
}


</style>