<template>
  <button class="button" @click.prevent="myMethod">{{title}}</button>
</template>

<script>
export default {
  name: "purple_button",
  props:['title', 'myMethod']
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.button {
  width: 100%;
  padding: .6em;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $purple;
}
</style>