<template>
  <div>
    <p class="form_title">{{ title }}</p>
    <slot name="body"></slot>
  </div>

</template>

<script>
export default {
  name: "title_and_input_group",
  props: ['title']
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.form_title {
  text-align: start;
  font-weight: bold;
  font-size: 1.4em;
  color: $grey;
  margin-top: 1em;
}
input {
  width: 100%;
  margin: 1em 0;
  padding: .5em;
  border: 1px solid $grey;
  box-sizing: border-box;
  /* input / default */
  box-shadow: 0px 1px 2px rgba(50, 43, 95, 0.08);
  border-radius: 4px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $grey;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $grey;
}
</style>