<template>
  <div class="datepicker">

    <div class="caption">
      {{ formatMonth(selectedMonth) }}, {{ selectedYear }}
      <div class="buttons">
        <div @click="getPreviousMonth()" class="arrow">‹</div>
        <div @click="getNextMonth()" class="arrow">›</div>
      </div>
    </div>

    <div class="day-labels">
      <div class="label"
           v-for="(day_name, index) in days"
           :class="{ 'indent': index === 0 }"
           :key="index">{{ day_name }}
      </div>
    </div>

    <div class="days">
      <!-- set offset for first day of the month-->

      <!-- loop trough days in month -->
      <div class="day" v-for="(day, index) in daysInMonth" :key="index">
                <span class="day-background"
                      :class="[
                          {'day-isToday': isToday(day.date) },
                          {'day-isThisWeek': isThisWeek(day.date, day.realDate)},
                         ]"></span>
        <span class="day-text"
              :class="[
                          {'day-isToday': isToday(day.date)},
                          {'day-isThisWeek': isThisWeek(day.date, day.realDate)},
                          {'day-isThisMonth': !isThisMonth(day.date) && !isToday(day.date) },
      ]">{{ day.day }}</span>
      </div>
    </div>
  </div>


</template>

<script>
export default {
  name: "date-picker",
  mounted() {
    this.populateDays();
    this.populateWeek();
  },

  props: {
    highlightToday: {
      type: Boolean,
      default: true
    },
    formatted: {
      type: Boolean,
      default: true
    },
    value: {
      type: Array
    }
  },
  data() {
    return {
      days: [],
      daysInWeek: [],
      selectedMonth: new Date().getMonth(),
      selectedYear: new Date().getFullYear(),
      weekStartDay: 0,
      weekEndDay: 0,
      today: new Date(),
    };
  },
  computed: {
    /* return the number of days in selected month and fills up spaces for places in last and next month */
    daysInMonth() {
      //which weekday is first day of month
      let firstDay = new Date(this.selectedYear, this.selectedMonth, 1).getDay();

      //which weekday is last day of month
      let lastDay = new Date(this.selectedYear, this.selectedMonth + 1, 0).getDay();

      //how many days are in the month
      let daysInLastMonth = this.getDaysInMonth(this.selectedMonth + 1, this.selectedYear);

      //if first day of month is sunday, start of range is -5(sunday - 6 days)
      let start = firstDay === 0 ? -5 : 1 - (firstDay - 1)

      //if last day of month is sunday, last day is last day of month, else it is 7 minus day of the week plus 1
      let end = lastDay === 0 ? daysInLastMonth + 1 : daysInLastMonth + (7 - lastDay) + 1

      //get range of days
      let days = this.getNumberRange(start, end)

      //map to getDate function to get range of calendar dates and the range, for css styling
      return days.map(day => ({
        day: new Date(this.selectedYear, this.selectedMonth, day).getDate(),
        date: new Date(this.selectedYear, this.selectedMonth, day),
        realDate: day
      }))
    },

    daysInPreviousMonth() {
      return this.getDaysInMonth(this.selectedMonth, this.today.getFullYear());
    },

  },
  methods: {
    formatMonth(month) {
      return (new Date(2020, month)).toLocaleString("default", {
        month: "long",
      })
    },

    getNumberRange(start, stop, step = 1) {
      return Array(Math.ceil((stop - start) / step)).fill(start).map((x, y) => x + y * step)
    },


    /* UTILS */
    /* compares if start day is before end day */
    isBefore(startDay, endDay) {
      let unixStart = startDay.getTime();
      let unixEnd = endDay.getTime();

      return unixStart < unixEnd;
    },

    /* compares two dates */
    isEqual(date1, date2) {
      if (date1 && date2) {
        return (date1.getDate() === date2.getDate() && date1.getMonth() === date2.getMonth() && date1.getFullYear() === date2.getFullYear());
      }
    },

    /* method used for coloring today's background */
    isToday(day) {
      return this.isEqual(new Date(day), this.today) && this.highlightToday;
    },

    populateWeek() {
      const todayDate = new Date().getDate();
      const todayWeekdayNo = new Date().getDay();

      if (todayWeekdayNo === 0) {
        this.weekStartDay = todayDate - 6;
        this.weekEndDay = todayDate;
      } else {
        this.weekStartDay = todayDate - todayWeekdayNo + 1
        this.weekEndDay = (7 - todayWeekdayNo) + todayDate
      }

      let days = [];
      for (let i = this.weekStartDay; i <= this.weekEndDay; i++) {
        days.push((new Date(this.today.getFullYear(), this.today.getMonth(), i)));
      }
      this.daysInWeek = days;

    },
    isThisWeek(date) {
      return this.daysInWeek.map(element => this.isEqual(element, date)).includes(true) && !this.isToday(date);
    },

    isThisMonth(day) {
      return day.getMonth() === this.selectedMonth && !this.isToday(day)
    },
    /*utils end*/

    /* SETTERS */
    /* populate days in browser language */
    populateDays() {
      let days = [];
      for (let i = 1; i <= 7; i++) {
        days.push((new Date(2020, 5, i)).toLocaleString("default", {weekday: "short"}));
      }
      this.days = days;
    }
    ,

    /**
     * enables user to set dates in "dd-mm-yyyy" format
     * when range is enabled it expects an Array with start and end dates
     */
    setFormattedDate(date) {
      if (this.range) {

        //splits dd-mm-yyyy to [dd, mm, yyyy]
        let startDate = date[0].split("-");
        //creates Date object, month is 0 based that's why -1
        let formattedStartDate = new Date(startDate[2], startDate[1] - 1, startDate[0]);
        //sets value (0 for start day, 1 for end day)
        this.$set(this.value, 0, formattedStartDate);

        let endDate = date[1].split("-");
        let formattedEndDate = new Date(endDate[2], endDate[1] - 1, endDate[0]);
        this.$set(this.value, 1, formattedEndDate);

      } else {
        let parsedDate = date.split("-");
        let formattedDate = new Date(parsedDate[2], parsedDate[1] - 1, parsedDate[0]);

        //sets values, if range is not selected, the start date is same as end date
        this.$set(this.value, 0, formattedDate);
        this.$set(this.value, 1, formattedDate);
      }
    }
    ,
    /**
     * Called upon change in input
     * updates the start or end date of calendar
     */
    updateDate(value, date) {
      let input = date.split(".");
      let dateObject = new Date(input[2], input[1] - 1, input[0]);
      if (dateObject) {
        this.$set(this.value, value, dateObject);
      }
    }
    ,

    setInputValue(date) {
      if (date) {
        return date.toLocaleDateString();
      }
    },
    /*setters end*/

    /* GETTERS */
    getNextMonth() {
      this.selectedMonth++;
      this.selectedYear = (new Date(this.today.getFullYear(), this.selectedMonth)).getFullYear();
    }
    ,
    getPreviousMonth() {
      this.selectedMonth--;
      this.selectedYear = (new Date(this.today.getFullYear(), this.selectedMonth)).getFullYear();
    }
    ,
    getDaysInMonth(month, year) {
      return new Date(year, month, 0).getDate();
    },

    /**
     * if range is true, returns array with start day and end day in format dd-mm-yyyy,
     * if range is false it will return only single date in format dd-mm-yyyy
     */
    getFormattedDate() {
      if (this.range) {
        if (this.value[0]) {

          //date in dd-mm-yyyy format
          let startDate = new Intl.DateTimeFormat("es-CL").format(this.value[0]);

          if (this.value[1]) {
            let endDate = new Intl.DateTimeFormat("es-CL").format(this.value[1]);

            // ["dd-mm-yyyy", "dd-mm-yyyy"]
            return [startDate, endDate];
          }
          return [startDate, null];
        }
      } else {
        if (this.value[0]) {
          return new Intl.DateTimeFormat("es-CL").format(this.value[0]);
        }
      }
    }
  }
  /*getters end*/
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

$lightGray: #E0E0E0;
$darkgray: #666666;
$black: #595959;
$primaryBlue: #00B2F2;
$secondaryBlue: #CCF1FF;

.datepicker {
  padding: 1.5em 1em;


  .caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;

    .buttons {
      display: flex;

      .arrow {
        height: 35px;
        width: 35px;
        line-height: 30px;
        border-radius: 10px;
        border: solid 1px rgba(grey, .2);

        &:first-child {
          margin-right: 10px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

  }

  .day-labels {
    margin: 1.5em 0;
    color: $lightGray;
    font-weight: 400;
    font-size: .9em;
    display: flex;
    text-align: center;

    .label {
      width: 14.28%;

      &:hover {
        cursor: default;
      }
    }
  }

  .days {
    height: auto;
    text-align: start;

    &:hover {
      cursor: pointer;
    }

    .day {
      margin: 1em 0;
      box-sizing: border-box;
      text-align: center;
      font-weight: bold;
      font-size: 1.1em;
      color: #333333;
      display: inline-block;
      width: 14.28%;
      line-height: 20px;
      position: relative;

      .day-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 40px;
        margin: auto;
      }

      .day-text {
        position: relative;
        color: $black;
      }

      .day-isToday {
        background-color: #583EFF;
        border-radius: 10px;
        width: 100%;
        color: white;
        font-weight: bold;
      }

      .day-isThisWeek {
        background-color: #F2EFFC;
        width: 100%;
        color: #333333;
        font-weight: bold;
      }

      .day-isThisMonth {
        color: rgba(#333333, .2);
      }
    }
  }

}


</style>
