$company-primary: #0B193E;
$company-secondary: rgba(61, 174, 200, 0.22);
$company-accent: #7b3ffe;

$hover-gray: #E8EAEA;
$gray: #f9f9f9;

$background: rgba(242, 197, 23, 0.13);

$light-brown: #F0EBE0;

$black: #333333;
$purple: #583eff;
$blue: #4F6AFF;
$orange: #FF912A;
$red: #FD5555;
$green: #64B2B3;
$yellow: #F2C94C;
$background: #FEFEFE;
$grey: #979797;
$buttonInactive: #BDBDBD;
$lightGrey: #E5E5E5;