<template>
  <div class="wrapper">
    <div class="header">
      <slot name="header"></slot>
    </div>
    <div class="body">
      <div class="bodyHeader">
        <slot name="bodyHeader"></slot>
      </div>
      <div class="bodyContent">
        <slot name="bodyContent"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "admin_dashboard_wrapper"
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.wrapper {
  padding: 1em .5em;
  height: 100%;

  .header {
    display: flex;
    font-weight: bold;
    font-size: 1.1em;
    color: $black;
  }

  .body {
    height: 90%;
  }

  .bodyHeader {
    display: flex;
    font-weight: bolder;
    color: grey;
    padding: .5em;
    text-align: start;
  }

  .bodyContent {
    background-color: white;
    border-radius: 10px;
  }
}
</style>