<template>
  <div class="form_wrapper">
    <div class="form_body">
      <div class="form">
        <p class="form_title">{{ formLeftTitle }}</p>
        <slot name="form_left"></slot>
      </div>
      <div class="form">
        <p class="form_title">{{ formRightTitle }}</p>
        <slot name="form_right"></slot>
      </div>
    </div>
    <div class="buttons">
      <slot name="buttons"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "form_wrapper",
  props: ['formRightTitle', 'formLeftTitle',],
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

@media only screen and (max-width: 550px) {
  .form_body {
    flex-direction: column;

    .form_title{
      margin-top: .7em;
    }
  }
}

@media (min-width: 551px) and (max-width: 800px) {

}

@media (min-width: 801px) and (max-width: 1200px) {
  .form_body {
    justify-content: space-between;
    .form {
      width: 48%;
    }
  }
}

@media (min-width: 1201px) and (max-width: 2500px) {
  .form_body {
    justify-content: space-between;
    .form {
      padding: 1em;
      width: 48%;
    }
  }
}

@media (min-width: 2500px) {
  .form_body {
    justify-content: space-between;
    .form {
      padding: 1em;
      width: 48%;
    }
  }
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .form_body {
    display: flex;


    .form_title {
      text-align: start;
      font-weight: bold;
      font-size: 1.4em;
      color: $grey;
    }

    input {
      width: 100%;
      margin: 1em 0;
      padding: .5em;
      border: 1px solid $grey;
      box-sizing: border-box;
      /* input / default */
      box-shadow: 0px 1px 2px rgba(50, 43, 95, 0.08);
      border-radius: 4px;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: $grey;
      opacity: 1; /* Firefox */
    }

    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $grey;
    }

    ::-ms-input-placeholder { /* Microsoft Edge */
      color: $grey;
    }

  }

  .buttons {
    display: flex;
    margin: 5% 0 auto auto;
  }
}

</style>