<template>
  <div class="navigation_wrapper">
    <h1 class="logo">RenKolding</h1>

    <div class="links">
      <router-link v-if="!isUserView" class="nav_item" tag="li" @click.native="$store.dispatch('closeSchedule');
    " :to="{ name: 'dashboard'}">
      <span> <v-icon class="icon" name="regular/clipboard"/>
      <p>Dashboard</p></span>
      </router-link>

      <router-link class="nav_item" tag="li" @click.native="$store.dispatch('openSchedule');
    " :to="{ name: isUserView? 'user-calendar' : 'admin-calendar'}">
      <span><v-icon class="icon" name="regular/calendar-alt"/>
      <p>Calendar</p></span>
      </router-link>

      <router-link v-if="isUserView" class="nav_item" tag="li" @click.native="$store.dispatch('closeSchedule');
    " :to="{ name: 'profile'}">
      <span> <v-icon class="icon" name="cog"/>
      <p>Profile</p></span>
      </router-link>

      <div v-if="isUserView" class="nav_item logout" @click.prevent="$store.dispatch('closeSchedule')">
        <v-icon class="logoutIcon" name="sign-out-alt"/>
      </div>


    </div>
  </div>

</template>

<script>


export default {
  name: "navigation",
  props: {
    isUserView: {
      type: Boolean,
      default: false,
    }
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logOut')
          .then(() => {
            this.$router.push('/login')
          })
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

@media only screen and (max-width: 550px) {
  .navigation_wrapper {
    flex-direction: column;
    align-items: flex-start;

    .logout {
      position: absolute;
      right: 0;
      color: darkgrey;

      .logoutIcon{
        height: 20px;
        width: 20px;
        margin-top: 5px;
      }
    }

  }
  .logo {
    margin-bottom: 4%;
  }
}

@media (min-width: 551px) and (max-width: 800px) {
  .navigation_wrapper {
    align-items: center;

    .logout {
      display: none
    }
  }
  .logo {
    margin-right: 4%;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .navigation_wrapper {
    align-items: center;

    .logout {
      display: none
    }
  }
  .logo {
    margin-right: 4%;
  }
}

@media (min-width: 1201px) and (max-width: 2500px) {
  .navigation_wrapper {
    align-items: center;

    .logout {
      display: none
    }
  }
  .logo {
    margin-right: 4%;
  }
}

@media (min-width: 2500px) {
  .navigation_wrapper {
    align-items: center;

    .logout {
      display: none
    }
  }
  .logo {
    margin-right: 4%;
  }
}

.navigation_wrapper {
  display: flex;
  list-style-type: none;
  padding: 4% 3%;

  h1 {
    font-size: 2em;
    font-weight: bold;
  }


  .links {
    display: flex;

    .nav_item {
      margin-right: 10%;
      align-items: center;
      font-weight: bold;


      span {
        display: flex;
        align-items: center;
        transition: .2s ease-in-out;

        p {
          padding-top: 5px;
          font-size: 1.2em;
        }
      }

      :hover {
        color: $purple;
        cursor: pointer;
      }

      .icon {
        margin-right: 4px;
        height: 28px;
        width: 28px;
        padding: 2%;
      }
    }
  }

  .active {
    color: $purple !important;
    padding-bottom: 2%;
    padding-right: 3%;
    border-bottom: 3px solid $purple;
  }
}
</style>