<template>
  <div class="calendar_header">
    <!--  **** HEADER DATE ****  -->
    <div class="header_date">
      <p>{{ headerLeft }}</p>
    </div>
    <!--  **** END HEADER DATE ****  -->

    <!--  **** HEADER SWITCH ****  -->

    <div class="calendar_view_switch_wrapper">
      <calendar_switch_button title="Day" width="33%" :active="view==='Day'"
                              :on-click-function="() => changeView('Day')"></calendar_switch_button>
      <span v-if="view==='Month'" class="horizontal_bar"></span>
      <calendar_switch_button title="Week" width="33%" :active="view==='Week'"
                              :on-click-function="() => changeView('Week')"></calendar_switch_button>
      <span class="horizontal_bar" v-if="view==='Day'"></span>
      <calendar_switch_button title="Month" width="33%" :active="view==='Month'"
                              :on-click-function="() => changeView('Month')"></calendar_switch_button>
    </div>
    <!--  **** END HEADER SWITCH ****  -->

    <!--  **** HEADER DATE ****  -->
    <div class="header_buttons">
      <calendar_switch_button title="‹" class="header_button" :on-click-function="previous"/>
      <calendar_switch_button :title="headerRight" class="header_button"/>
      <calendar_switch_button title="›" class="header_button" :on-click-function="next"/>
    </div>
    <!--  **** END HEADER DATE ****  -->
  </div>
  <!--  **** END HEADER ****  -->
</template>

<script>
import calendar_switch_button from "@/components/shared/calendar/calendar_switch_button";

export default {
  name: "calendar_header",
  components: {
    calendar_switch_button,
  },
  data() {
    return {
      date: new Date(),
      firstDayInWeek: new Date(),
      lastDayInWeek: new Date(),
      view: 'Week',
    }
  },
  computed: {
    headerRight: function () {
      switch (this.view) {
        case 'Day': {
          let today = new Date()
          if (this.date.getMonth() === today.getMonth() && this.date.getFullYear() === today.getFullYear()) {
            if (this.date.getDate() === today.getDate()) {
              return 'Today'
            } else if (this.date.getDate() === today.getDate() - 1) {
              return 'Yesterday'
            } else if (this.date.getDate() === today.getDate() + 1) {
              return 'Tomorrow'
            }
          }
          return `${this.date.getDate()} / ${this.date.getMonth() + 1} / ${this.date.getFullYear()}`
        }
        case 'Week': {
          let onejan = new Date(this.date.getFullYear(), 0, 1);
          let week = Math.ceil((((this.date.getTime() - onejan.getTime()) / 86400000) + onejan.getDay() + 1) / 7);
          return `Week ${week}`

        }
        case 'Month': {
          return this.date.toLocaleString("default", {
            month: "long",
          });
        }
      }
    },
    headerLeft: function () {
      switch (this.view) {
        case 'Day': {
          let day = this.date.getDate();
          let month = this.date.toLocaleString("default", {
            month: "long",
          });
          let year = `'${this.date.getFullYear().toString().slice(2, 4)}`;

          return `${day} ${month} ${year}`
        }
        case 'Week': {
          let whichDayInWeekItIs = this.date.getDay();
          let weekStartDay;
          let weekEndDay;
          if (whichDayInWeekItIs === 0) {
            weekStartDay = this.date.getDate() - 6;
            weekEndDay = this.date.getDate();
          } else {
            weekStartDay = this.date.getDate() - whichDayInWeekItIs + 1
            weekEndDay = (7 - whichDayInWeekItIs) + this.date.getDate()
          }
          this.firstDayInWeek = new Date(this.date.getFullYear(), this.date.getMonth(), weekStartDay)
          this.lastDayInWeek = new Date(this.date.getFullYear(), this.date.getMonth(), weekEndDay)
          let year2 = `'${this.lastDayInWeek.getFullYear().toString().slice(2, 4)}`;

          let month1 = this.firstDayInWeek.toLocaleString("default", {
            month: "short",
          });
          let month2 = this.lastDayInWeek.toLocaleString("default", {
            month: "short",
          });
          this.setNewFirstDay(this.firstDayInWeek);
          return `${this.firstDayInWeek.getDate()} ${month1} - ${this.lastDayInWeek.getDate()} ${month2} ${year2}`
        }
        case 'Month': {
          let month = this.date.toLocaleString("default", {
            month: "long",
          });
          let year = this.date.getFullYear();

          return `${month} ${year}`
        }
      }
    },
  },
  methods: {
    changeView(view) {
      this.$emit('viewChange', view)
      this.view = view;
    },
    setNewFirstDay(day) {
      this.$emit('setFirstDay', day)
    },
    setNewDate(date) {
      this.$emit('setDate', date)
    },
    formatWeekCalendarDate(date) {
      return `${date.getDate()}.${date.getMonth() + 1}`
    },

    formatDay(month) {
      return (new Date(2020, month)).toLocaleString("default", {
        month: "long",
      })
    },
    previous() {
      switch (this.view) {
        case 'Day': {
          this.date = new Date(this.date.getFullYear(), this.date.getMonth(), (this.date.getDate() - 1));
          this.setNewDate(this.date);
          break;
        }
        case 'Week': {
          this.date = new Date(this.date.getFullYear(), this.date.getMonth(), (this.date.getDate() - 7));
          this.setNewDate(this.date);
          break;
        }
        case 'Month': {
          this.date = new Date(this.date.getFullYear(), (this.date.getMonth() - 1), this.date.getDate());
          this.setNewDate(this.date);
          break;
        }
      }
    },
    next() {
      switch (this.view) {
        case 'Day': {
          this.date = new Date(this.date.getFullYear(), this.date.getMonth(), (this.date.getDate() + 1));
          this.setNewDate(this.date);
          break;
        }
        case 'Week': {
          this.date = new Date(this.date.getFullYear(), this.date.getMonth(), (this.date.getDate() + 7));
          this.setNewDate(this.date);
          break;
        }
        case 'Month': {
          this.date = new Date(this.date.getFullYear(), (this.date.getMonth() + 1), this.date.getDate());
          this.setNewDate(this.date);
          break;
        }
      }
    },
  },
}
</script>

<style scoped lang="scss">
@import "../../../styles/colors";

@media only screen and (max-width: 550px) {
  .calendar_header {
    flex-direction: column;
    align-items: center;

    .header_date {
      order: 2;
      margin-bottom: 5%;
      font-size: 1.5em;
    }

    .calendar_view_switch_wrapper {
      order: 1;
      margin: 5% 0;
      width: 90%;
    }
  }
}

@media (min-width: 551px) and (max-width: 800px) {
  .calendar_header {
    justify-content: space-between;
    .header_date {
      font-size: 2em;
    }

    .calendar_view_switch_wrapper {
      justify-content: space-between;
      width: 30%;
    }
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .calendar_header {
    justify-content: space-between;
    .header_date {
      font-size: 2em;
    }

    .calendar_view_switch_wrapper {
      justify-content: space-between;
      width: 28%;
    }
  }

}

@media (min-width: 1201px) and (max-width: 2500px) {
  .calendar_header {
    justify-content: space-between;
    .header_date {
      font-size: 2em;
    }

    .calendar_view_switch_wrapper {
      justify-content: space-between;
      width: 30%;
    }
  }
}

@media (min-width: 2500px) {
  .calendar_header {
    justify-content: space-between;
    .header_date {
      font-size: 2em;
    }

    .calendar_view_switch_wrapper {
      justify-content: space-between;
      width: 24%;
    }
  }
}

.calendar_header {
  display: flex;

  .header_date {
    display: flex;
    font-weight: bold;
  }

  .calendar_view_switch_wrapper {
    display: flex;
    background-color: #F2EFFC;
    align-items: center;
    padding: 0 .2em;
    border-radius: 6px;

    .horizontal_bar {
      height: 1.4em;
      width: 3px;
      background-color: $lightGrey;
    }
  }

  .header_buttons {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3%;

    .header_button {
      margin: 0 .1em;
      padding: 0 .5em;
    }
  }
}
</style>