<template>
  <p class="button" :style="{'width':width}" @click.prevent="onClickFunction"
     :class="[{'header_button_active': active},]">{{ title }}</p>
</template>

<script>
export default {
  name: "calendar_switch_button",
  props: {
    onClickFunction: {
      type: Function,
      default: () => {
      },
    },
    width: {},
    title: {
      type: String,
      default: ''
    },
    active: {
      type: Boolean,
      default: false
    },
  }
}
</script>

<style scoped lang="scss">
@import "../../../styles/colors";

.button {
  display: flex;
  align-items: center;
  background-color: #F2EFFC;
  padding: 0 .2em;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 6px;
  color: $black;
  height: 2em;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}
.header_button_active {
  background-color: white;
  height: 1.8em;
  color: $purple;
}
</style>