<template>
  <modal
      v-show="show_modal"
      @close="closeModal">
    <template v-slot:header>
      <h2>Did this job take you the same hours? </h2>
    </template>

    <template v-slot:body>
      <h2>From: {{ job.startTime.slice(0,5) }} To: {{ job.endTime.slice(0,5) }}</h2>

      <div class="checkbox">
        <check-box v-model="answer" label="No"></check-box>
      </div>

      <div class="inputs" v-if="answer">
        <h2>Select the right hours</h2>
        <div class="times">
          <input class="time_entry" v-model="jobToEdit.startTime" required type="time">
          <div style="width: 1em"></div>
          <input class="time_entry" v-model="jobToEdit.endTime" required type="time">
        </div>
      </div>
    </template>

    <template v-slot:footer>
      <div class="buttons">
        <button class="button" @click="markAsDone">Mark as done</button>
      </div>
    </template>
  </modal>
</template>

<script>
import modal from "@/components/shared/custom_modal";
import purple_button from "@/components/shared/purple_button";
import addButton from "@/components/shared/addButton";
import CheckBox from "@/components/shared/checkBox";

export default {
  name: "mark_as_done_modal",
  components: {CheckBox, purple_button, addButton, modal},
  props: ['show_modal', 'job'],
  data() {
    return {
      answer: false,
      jobToEdit:{}
    }
  },
  methods: {
    closeModal() {
      this.$emit('closeModal');
    },
    markAsDone() {
      let payload = {differentHours: this.answer, newTime: this.jobToEdit}
      this.$emit('markAsDone', payload);
    }
  }
}
</script>

<style scoped lang="scss">
@import "../../../styles/colors";

h2, .checkbox {
  padding: 1em 1em 0 1em;
}

input, select, textarea {
  width: 100%;
  height: 55px;
  margin: .5em 0;
  padding: .8em;
  border: none;
  border-bottom: 1px solid $grey;
  box-sizing: border-box;
  /* input / default */
}
.times {
  display: flex;
  width: 100%;

  .time_entry {
    flex: 1 1 0;
  }
}

.buttons {
  display: flex;
  width: 80%;
  margin: 1em auto;
}

.button {
  width: 100%;
  padding: .6em;
  border-radius: 10px;
  color: white;
  background-color: #7b3ffe;
  font-weight: bold;
  font-size: 1.1em;
}

</style>