<template>
  <admin_dashboard_wrapper>
    <template #header><p class="title">Add new customer</p></template>
    <template #bodyHeader>
      <div class="backButton" @click="backToDashboard"><p
          style="font-size: 2em; line-height: 10px; margin-right: 5px; font-weight: normal">‹</p> Back
      </div>
    </template>
    <template #bodyContent>
      <form_wrapper form-left-title="Personal" form-right-title="Contact">
        <template #form_left>
          <input required type="text" v-model="customer.name"
                 placeholder="Name*">
          <input required type="text" v-model="customer.address.addressLine1" placeholder="Address*">
          <div>
            <input required type="text" v-model="customer.address.city" placeholder="City*">
            <input required type="text" v-model="customer.address.zip" placeholder="Zip code*">
          </div>
          <input required type="text" v-model="customer.address.country" placeholder="State*">
          <check-box label="Business" v-model="customer.isBusiness"></check-box>

          <input required v-if="customer.isBusiness" type="text" v-model="customer.cvr" placeholder="Cvr*"></template>
        <template #form_right>
          <input type="text" v-model="customer.contactperson" placeholder="Contact person name">
          <input required type="text" v-model="customer.email" placeholder="Email*">
          <input required type="text" v-model="customer.phone" placeholder="Phone number*">
          <p class="form_title">Pick a color</p>
          <colour-picker
              v-model="customer.uiColorCode"
              :value="customer.uiColorCode"
              no-input
              picker="sketch"/>
        </template>
        <template #buttons>
          <button class="button cancel" @click="backToDashboard">Cancel</button>
          <button class="button add" @click="addCustomer">Add</button>
        </template>
      </form_wrapper>
    </template>
  </admin_dashboard_wrapper>

</template>

<script>
import Admin_dashboard_wrapper from "../wrappers/admin_dashboard_wrapper";
import Form_wrapper from "../wrappers/form_wrapper";
import CheckBox from "@/components/shared/checkBox";


export default {
  name: "addCustomer",
  components: {Form_wrapper, Admin_dashboard_wrapper,CheckBox},
  data() {
    return {
      customer: {
        name: "",
        cvr: "",
        uiColorCode: "#000000",
        address: {
          addressLine1: "",
          addressLine2: "",
          city: "",
          zip: "",
          country: "",
        },
        phone: "",
        email: "",
        contactperson: "",
        isBusiness: true,
        isActive: true,
        projects: [],
      },
    }
  },
  methods: {
    backToDashboard() {
      this.$emit('openCustomers');
    },
    addCustomer() {
      this.$store.dispatch("addCustomer", this.customer);
      this.$emit('openCustomers');
    },
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.form_title {
  text-align: start;
  font-weight: bold;
  font-size: 1.4em;
  color: $grey;
  margin-bottom: 0.5em;
}

.title {
  font-size: 2em;
  color: $black;
}

.backButton {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.button {
  width: 10em;
  padding: .6em;
  margin: 0 3%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $purple;
}


.cancel {
  background-color: $grey;
}


</style>