<template>
  <admin_dashboard_wrapper>
    <template #header><p class="title">Add new project</p></template>
    <template #bodyHeader>
      <div class="backButton" @click="backToDashboard"><p
          style="font-size: 2em; line-height: 10px; margin-right: 5px; font-weight: normal">‹</p> Back
      </div>
    </template>
    <template #bodyContent>
      <form_wrapper form-left-title="General" form-right-title="Info">
        <template #form_left>
          <input required type="text" v-model="project.name"
                 placeholder="Name*">
          <input required type="text" v-model="project.address.addressLine1" placeholder="Address*">
          <div>
            <input required type="text" v-model="project.address.city" placeholder="City*">
            <input required type="text" v-model="project.address.zip" placeholder="Zip code*">
          </div>
          <input required type="text" v-model="project.address.country" placeholder="State*">
        </template>
        <template #form_right>
          <input type="text" v-model="project.projectDescription" placeholder="Description">
          <div style="display: flex; align-items: center; margin: 1.5em 0 ">
            <label class="switch">
              <input type="checkbox" v-model="project.isHourlyPaid">
              <span class="slider round"></span>
            </label>
            <p style="margin-left: .5em">Hourly paid</p>
          </div>
          <label style="display: block; text-align: left" v-if="project.isHourlyPaid">Hourly rate*</label>
          <input required v-if="project.isHourlyPaid" type="text" v-model="project.hourlyRate"
                 placeholder="Hourly rate*">
          <label style="display: block; text-align: left" v-if="!project.isHourlyPaid">Price per piece*</label>
          <input required type="text" v-if="!project.isHourlyPaid" v-model="project.pricePerPiece" placeholder="Price per piece*">
          <p class="form_title">Pick a color</p>
          <colour-picker
              v-model="project.uiColorCode"
              :value="project.uiColorCode"
              no-input
              picker="sketch" />
        </template>
        <template #buttons>
          <button class="button cancel" @click="backToDashboard">Cancel</button>
          <button class="button add" @click="addCustomer">Add</button>
        </template>
      </form_wrapper>
    </template>
  </admin_dashboard_wrapper>

</template>

<script>
import Admin_dashboard_wrapper from "../wrappers/admin_dashboard_wrapper";
import Form_wrapper from "../wrappers/form_wrapper";


export default {
  name: "addCustomer",
  components: {Form_wrapper, Admin_dashboard_wrapper},
  props: ['customerId'],
  data() {
    return {
      project: {
        name: "",
        customerId: this.customerId,
        uiColorCode: "#000000",
        address: {
          addressLine1: "",
          addressLine2: "",
          city: "",
          zip: "",
          country: "",
        },
        hourlyRate: 0,
        pricePerPiece: 0,
        projectDescription: "",
        isHourlyPaid: true,
        isActive: true,
      },
    }
  },
  methods: {
    backToDashboard() {
      this.$emit('openCustomers');
    },
    addCustomer() {
      this.$store.dispatch("addProject", {payload: this.project, id: this.customerId});
      this.$emit('openCustomers');
    },
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.form_title {
  text-align: start;
  font-weight: bold;
  font-size: 1.4em;
  color: $grey;
  margin-bottom: 0.5em;
}

.title {
  font-size: 2em;
  color: $black;
}

.backButton {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.button {
  width: 10em;
  padding: .6em;
  margin: 0 3%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $purple;
}


.cancel {
  background-color: $grey;
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px $purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


</style>