<template>
  <div>
    <delete_info_modal
        :item="item"
        :success="customerSuccess"
        :confirm="isConfirm"
        :customerToDelete="customerToDeleteId"
        :projectToDelete="projectToDeleteId"
        @ok="closeModal" :group_type="group_type"
        @closeModal="closeModal"
        :show_modal="showDeleteModal || showCustomerEditConfirmModal"></delete_info_modal>
    <admin_dashboard_wrapper>
      <template #header>
        <p class="link" @click="openEmployees">Employees</p>
        <p class="activeLink">Customers <span class="underscore"></span></p>
      </template>
      <template #bodyHeader>
        <p class="name"></p>
        <p class="status">Status</p>
        <p class="projects">Projects</p>
      </template>
      <template #bodyContent>
        <div class="customerList">
          <div v-if="customersLoading"
               style="display: flex; height: 100%; justify-content: center; align-items: center">
            <loader name="ball-spin-fade-loader" color="#583EFF" scale=".7"></loader>
          </div>
          <div v-else-if="customers.length === 0">
            <img :src="image">
            <h2>A fresh start</h2>
            Start by adding your employees by pressing the purple button down there.

          </div>
          <div v-else v-for="(customer, index) in customers" :key="index">
            <div class="customerRow" @click="showProjects(customer.id);toggleDetailSidebar(customer.id)" :class="[
              {'activeRow': isShowingProjects && openedCustomerId === customer.id},
              ]">
              <div class="name">
                <avatar class="avatar" :fullname="customer.name" :size=56></avatar>
                <div>
                  <p class="customerName">{{ customer.name }}
                  </p>
                  <p class="customerEmail">{{ customer.email }}</p>
                </div>
              </div>
              <p class="status">{{ customer.isActive ? "Active" : "Not active" }}</p>
              <div class="projects">
                <div v-if="customer.projects.length > 0" v-for="(project, index) in customer.projects.slice(0,2)"
                     :key="index">
                  <div class="project">{{ project.name }}</div>
                </div>
                <div class="hiddenProjects" v-if="customer.projects.length>2"> +{{ customer.projects.length - 2 }}</div>
              </div>
              <action_buttons :add-method="() => addProject(customer.id)" :editMethod="() => editCustomer(customer)"
                              :delete-method="() => deleteCustomer(customer)"/>
            </div>
            <div class="projectsDetail" v-if="isShowingProjects && openedCustomerId === customer.id">
              <div class="projectsDetailHeader">
                <p class="projectName">Project Name</p>
                <p class="projectAddress">Address</p>
              </div>
              <div class="projectsDetailContent">
                <div v-if="customer.projects.length > 0" v-for="(project, index) in customer.projects"
                     :key="index">
                  <div class="project" @click="openProjectDetail(customer.id,project.id)">
                    <p class="projectName">{{ project.name }} </p>
                    <p class="projectAddress">{{ project.address.addressLine1 }}, {{ project.address.city }} </p>
                    <div class="projectButtons">
                      <action_buttons :show-add=false :editMethod="() => editProject(project)"
                                      :delete-method="() => deleteProject(project)"></action_buttons>
                    </div>
                  </div>
                  <hr v-if="index+1 !== customer.projects.length">
                </div>
              </div>
            </div>
            <hr v-if="index+1 !== customers.length">
          </div>
        </div>
        <add_button :clickButton="addCustomer"></add_button>
      </template>
    </admin_dashboard_wrapper>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import admin_dashboard_wrapper from "../wrappers/admin_dashboard_wrapper";
import Action_buttons from "../shared/action_buttons";
import add_button from "../shared/addButton";
import delete_info_modal from "@/components/shared/delete_info_modal";

export default {
  name: "Customers",
  components: {Action_buttons, admin_dashboard_wrapper, add_button, delete_info_modal},
  data() {
    return {
      item: '',
      group_type: '',
      isConfirm: true,
      customerToDeleteId: null,
      projectToDeleteId: null,
      showDeleteModal: false,
      isShowingProjects: false,
      openedCustomerId: 0,
      image: require('@/assets/empty_state.png')
    }
  },
  methods: {
    closeModal() {
      this.$store.dispatch('closeCustomerShowingModal');
      this.showDeleteModal = false;
      this.isConfirm = false;
    },
    openEmployees() {
      this.$emit('openEmployees');
    },
    addCustomer() {
      this.$emit('addCustomer');
    },
    editCustomer(customer) {
      this.$emit('editCustomer', customer);
    },
    deleteCustomer(customer) {
      this.isConfirm = true;
      this.item = customer.name
      this.group_type = 'customer'
      this.customerToDeleteId = customer.id
      this.showDeleteModal = true
    },
    addProject(customerId) {
      this.$emit('addProject', customerId);
    },
    editProject(project) {
      this.$emit('editProject', project);
    },
    deleteProject(project) {
      this.isConfirm = true;
      this.item = project.name
      this.group_type = 'project'
      this.projectToDeleteId = project.id
      this.showDeleteModal = true
    },
    showProjects(id) {
      if (this.openedCustomerId === id && this.isShowingProjects) {
        this.isShowingProjects = false;
        return
      }
      this.isShowingProjects = true;
      this.openedCustomerId = id;
    },
    toggleDetailSidebar(id) {
      this.$emit('toggleCustomerDetail', id);
    },

    openProjectDetail(customerId, id) {
      this.$emit('toggleProjectDetail', customerId, id);
    }
  },
  mounted() {
    if (this.$store.getters.customers.length === 0) {
      this.$store.dispatch("getCustomers");
    }
  },
  computed: {
    ...mapGetters([
      'customers',
      'customerSuccess',
      'customerProjects',
      'showCustomerEditConfirmModal',
      'projectById',
      'customersLoading'
    ]),
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

@media only screen and (max-width: 550px) {
  .customerRow {
    padding: 1em;
    align-items: center;
    flex-direction: column;

    .name {
      display: flex;
      align-items: center;
    }

    .avatar {
      margin-right: .5em;
    }

    .status {
      margin: .5em 0;
    }
    .projects{
      margin: .5em 0;
      overflow: scroll;
    }
  }
}

@media (min-width: 551px) {

  .customerRow {
    text-align: start;
    align-items: center;
    padding: 1em 3em;
  }
  .name {
    width: 25%;
    display: flex;
    align-items: center;
  }

  .status {
    width: 10%;
  }

  .projects {
    width: 40%;
  }

  .avatar {
    margin-right: 1.5em;
  }
}

hr {
  background-color: rgba($grey, .2);
  height: 1px;
  border: 0;
}

.link {
  color: $black;
  margin-right: 3%;

  &:hover {
    cursor: pointer;
  }
}

.activeLink {
  color: $purple;
  display: flex;
  flex-direction: column;
  align-items: center;

  .underscore {
    height: 3px;
    margin-top: 3px;
    width: 80%;
    background-color: $purple;
  }
}

.customerRow {
  display: flex;
  width: 100%;

  &:hover {
    background-color: rgba($purple, .02);
    border-radius: 10px;
    cursor: pointer;

  }

  .avatar {
    font-weight: bolder;
  }

  .customerName {
    font-weight: bolder;
    margin-bottom: .2em;
  }

  .customerEmail {
    font-size: .9em;
    color: $grey;
  }

  .projects {
    display: flex;

    .project {
      background-color: rgba($lightGrey, .3);
      width: max-content;
      font-size: .8em;
      font-weight: bolder;
      margin-right: .8em;
      padding: .4em 3em .4em 1em;
      color: rgba($grey, .7);
      text-transform: uppercase;
    }

    .hiddenProjects {
      box-sizing: border-box;
      font-size: .8em;
      border-radius: 2px;
      border: 1px $lightGrey solid;
      padding: .35em 1em .35em .5em;
      color: $grey;

    }
  }

}

.activeRow {
  background-color: rgba($purple, .06);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  &:hover {
    background-color: rgba($purple, .06);
    cursor: pointer;
  }
}


.projectsDetail {
  background-color: rgba($purple, .02);
  padding: 2%;
  text-align: start;

  .project {
    display: flex;
    width: 100%;
    padding: .8em 1.5em;
    text-align: start;
    justify-content: flex-start;
    align-items: center;

    &:hover {
      background-color: rgba($purple, .02);
      border-radius: 10px;
      cursor: pointer;

      .buttonIcon:first-child {
        color: $purple;
      }

      .buttonIcon:last-child {
        color: $red;
      }
    }
  }

  .projectName {
    width: 30%;
    font-weight: bold;
  }

  .projectAddress {
    width: 35%;
  }

  .projectAssigned {
    width: 25%;
  }

  .projectButtons {
    width: 10%;
  }

  .projectsDetailHeader {
    display: flex;
    height: 5%;
    font-weight: bolder;
    color: grey;
    padding: 0 1.5em;
    text-align: start;
  }


  .projectsDetailContent {
    margin-top: 2%;
  }


}

.customerList {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.addButton {
  width: fit-content;
  height: fit-content;
  padding: .5em .8em;
  margin-top: -.5em;
  font-size: 2em;
  justify-self: end;
  margin-left: auto;
  box-shadow: 2px 4px 6px #979797;
  border-radius: 60%;
  background-color: $purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: transform 250ms, opacity 400ms;

  &:hover {
    cursor: pointer;
    transform: translateY(-10px);
  }
}


</style>