<template>
  <div>
    <edit_info_modal :address-edit="addressEdit" :success="customerSuccess"
                         @ok="okPressedOnModal" group-name="project"
                         @closeModal="$store.dispatch('closeCustomerShowingModal')" v-if="showCustomerEditConfirmModal"
                         :show_modal="showCustomerEditConfirmModal"></edit_info_modal>

    <admin_dashboard_wrapper>
      <template #header><p class="title">Edit project</p></template>
      <template #bodyHeader>
        <div class="backButton" @click="backToDashboard"><p
            style="font-size: 2em; line-height: 10px; margin-right: 5px; font-weight: normal">‹</p> Back
        </div>
      </template>
      <template #bodyContent>
        <form_wrapper form-left-title="General" form-right-title="Info">
          <template #form_left>
            <input required type="text" v-model="projectToEdit.name"
                   placeholder="Name*">
            <check-box label="Edit address" v-model="changeAddress"></check-box>

            <div style="text-align: right" v-if="changeAddress">

              <input required type="text" v-model="projectAddressToEdit.addressLine1" placeholder="Address*">
              <div>
                <input required type="text" v-model="projectAddressToEdit.city" placeholder="City*">
                <input required type="text" v-model="projectAddressToEdit.zip" placeholder="Zip code*">
              </div>
              <input required type="text" v-model="projectAddressToEdit.country" placeholder="State*">
              <button class="button" @click="editProjectAddress">Edit Address</button>
            </div>
          </template>
            <template #form_right>
            <input type="text" v-model="projectToEdit.projectDescription" placeholder="Description">
              <check-box label="Hourly paid" v-model="projectToEdit.isHourlyPaid"></check-box>

            <input required v-if="projectToEdit.isHourlyPaid" type="text" v-model="projectToEdit.hourlyRate"
                   placeholder="Hourly rate*">
            <input required type="text" v-if="!projectToEdit.isHourlyPaid" v-model="projectToEdit.pricePerPiece" placeholder="Price per piece*">
            <p class="form_title">Pick a color</p>
            <colour-picker
                v-model="projectToEdit.uiColorCode"
                :value="projectToEdit.uiColorCode"
                no-input
                picker="sketch" />
          </template>
          <template #buttons>
            <button class="button cancel" @click="backToDashboard">Cancel</button>
            <button class="button add" @click="editProject">Edit</button>
            <button class="button suspend" @click="suspendProject">Suspend</button>
          </template>
        </form_wrapper>
      </template>
    </admin_dashboard_wrapper>
  </div>
</template>

<script>
import Form_wrapper from "@/components/wrappers/form_wrapper";
import Admin_dashboard_wrapper from "@/components/wrappers/admin_dashboard_wrapper";
import {mapGetters} from "vuex";
import CheckBox from "@/components/shared/checkBox";
import edit_info_modal from "@/components/shared/edit_info_modal";

export default {
  name: "edit_project",
  components: {Form_wrapper, Admin_dashboard_wrapper, CheckBox, edit_info_modal},
  props: ['project'],
  computed: {
    ...mapGetters([
      'showCustomerEditConfirmModal',
      'customerSuccess',
      'addressSuccess',
    ]),
  },
  data() {
    return {
      addressEdit: false,
      changeAddress: false,
      projectToEdit: {
        id: this.project.id,
        customerId: this.project.customerId,
        name: this.project.name,
        isHourlyPaid: this.project.isHourlyPaid,
        hourlyRate: this.project.hourlyRate,
        uiColorCode: this.project.uiColorCode,
        pricePerPiece: this.project.pricePerPiece,
        projectDescription: this.project.projectDescription,
        taskDescription: this.project.taskDescription,
        isActive: this.project.isActive,
        isBusiness: this.project.isBusiness,
      },
      projectAddressToEdit: {
        addressLine1: this.project.address.addressLine1,
        addressLine2: this.project.address.addressLine2,
        city: this.project.address.city,
        zip: this.project.address.zip,
        country: this.project.address.country
      }
    }
  },
  methods: {
    backToDashboard() {
      this.$emit('openCustomers');
    },
    okPressedOnModal() {
      this.$store.dispatch('closeCustomerShowingModal')
      this.$emit('openCustomers');
    },
    editProject() {
      this.addressEdit = false
      if (this.projectToEdit.uiColorCode === '#000000') {
        this.projectToEdit.uiColorCode = this.project.uiColorCode;
      }
      this.$store.dispatch("editProject", this.projectToEdit);
    },
    suspendProject(){
      this.$store.dispatch("suspendProject", this.projectToEdit);
    },
    editProjectAddress() {
      this.addressEdit = true
      this.$store.dispatch("editProjectAddress", {
        id: this.project.id,
        address: this.projectAddressToEdit
      })

    },
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.form_title {
  text-align: start;
  font-weight: bold;
  font-size: 1.4em;
  color: $grey;
  margin-bottom: 0.5em;
}

.title {
  font-size: 2em;
  color: $black;
}

.backButton {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.button {
  width: 10em;
  padding: .6em;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $purple;
}

.add {
  margin: 0 3%;
}

.suspend{
  background-color: red;
  margin-right: 3%;
}

.cancel {
  background-color: $grey;
}

</style>