<template>
  <div>
    <edit_info_modal :address-edit="addressEdit" :success="customerSuccess"
                         @ok="okPressedOnModal" group-name="customer"
                         @closeModal="$store.dispatch('closeCustomerShowingModal')" v-if="showCustomerEditConfirmModal"
                         :show_modal="showCustomerEditConfirmModal"></edit_info_modal>

    <admin_dashboard_wrapper>
      <template #header><p class="title">Edit customer</p></template>
      <template #bodyHeader>
        <div class="backButton" @click="backToDashboard"><p
            style="font-size: 2em; line-height: 10px; margin-right: 5px; font-weight: normal">‹</p> Back
        </div>
      </template>
      <template #bodyContent>
        <form_wrapper form-left-title="Personal" form-right-title="Contact">
          <template #form_left>
            <input required type="text" v-model="customerToEdit.name"
                   placeholder="Name*">
            <check-box label="Edit address" v-model="changeAddress"></check-box>

            <div style="text-align: right" v-if="changeAddress">

              <input required type="text" v-model="customerAddressToEdit.addressLine1" placeholder="Address*">
              <div>
                <input required type="text" v-model="customerAddressToEdit.city" placeholder="City*">
                <input required type="text" v-model="customerAddressToEdit.zip" placeholder="Zip code*">
              </div>
              <input required type="text" v-model="customerAddressToEdit.country" placeholder="State*">
              <button class="button" @click="editCustomerAddress">Edit Address</button>

            </div>

            <check-box label="Business" v-model="customerToEdit.isBusiness"></check-box>

            <input required v-if="customerToEdit.isBusiness" type="text" v-model="customerToEdit.cvr" placeholder="Cvr*"></template>
          <template #form_right>
            <input type="text" v-model="customerToEdit.contactperson" placeholder="Contact person name">
            <input required type="text" v-model="customerToEdit.email" placeholder="Email*">
            <input required type="text" v-model="customerToEdit.phone" placeholder="Phone number*">
            <p class="form_title">Pick a color</p>
            <colour-picker
                v-model="customerToEdit.uiColorCode"
                :value="customerToEdit.uiColorCode"
                no-input
                picker="sketch"/>
          </template>
          <template #buttons>
            <button class="button cancel" @click="backToDashboard">Cancel</button>
            <button class="button add" @click="editCustomer">Edit</button>
            <button class="button suspend" @click="suspendCustomer">Suspend</button>
          </template>
        </form_wrapper>
      </template>
    </admin_dashboard_wrapper>
  </div>
</template>

<script>
import Form_wrapper from "@/components/wrappers/form_wrapper";
import Admin_dashboard_wrapper from "@/components/wrappers/admin_dashboard_wrapper";
import {mapGetters} from "vuex";
import CheckBox from "@/components/shared/checkBox";
import edit_info_modal from "@/components/shared/edit_info_modal";

export default {
  name: "edit_customer",
  components: {Form_wrapper, Admin_dashboard_wrapper, CheckBox, edit_info_modal},
  props: ['customer'],
  computed: {
    ...mapGetters([
      'showCustomerEditConfirmModal',
      'customerSuccess',
      'addressSuccess',
    ]),
  },
  data() {
    return {
      addressEdit: false,
      changeAddress: false,
      customerToEdit: {
        id: this.customer.id,
        name: this.customer.name,
        cvr: this.customer.cvr,
        uiColorCode: this.customer.uiColorCode,
        phone: this.customer.phone,
        email: this.customer.email,
        contactperson: this.customer.contactperson,
        isBusiness: this.customer.isBusiness,
        isActive: this.customer.isActive,
      },
      customerAddressToEdit: {
        addressLine1: this.customer.address.addressLine1,
        addressLine2: this.customer.address.addressLine2,
        city: this.customer.address.city,
        zip: this.customer.address.zip,
        country: this.customer.address.country
      }
    }
  },
  methods: {
    backToDashboard() {
      this.$emit('openCustomers');
    },
    okPressedOnModal() {
      this.$store.dispatch('closeCustomerShowingModal')
      this.$emit('openCustomers');
    },
    editCustomer() {
      this.addressEdit = false
      if (this.customerToEdit.uiColorCode === '#000000') {
        this.customerToEdit.uiColorCode = this.customer.uiColorCode;
      }
      this.$store.dispatch("editCustomer", this.customerToEdit);
    },
    suspendCustomer(){
      this.$store.dispatch("suspendCustomer", this.customerToEdit);
    },
    editCustomerAddress() {
      this.addressEdit = true
      this.$store.dispatch("editCustomerAddress", {
        id: this.customer.id,
        address: this.customerAddressToEdit
      })
    },
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.form_title {
  text-align: start;
  font-weight: bold;
  font-size: 1.4em;
  color: $grey;
  margin-bottom: 0.5em;
}

.title {
  font-size: 2em;
  color: $black;
}

.backButton {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.button {
  width: 10em;
  padding: .6em;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $purple;
}

.add{
  margin: 0 3%;
}

.suspend{
  background-color: red;
  margin-right: 3%;
}

.cancel {
  background-color: $grey;
}

</style>