<template>
  <div>
    <add_info_modal :success="employeeSuccess"
                    @ok="okPressedOnModal"
                    group-name="employee"
                    @closeModal="$store.dispatch('closeShowingModal')" v-if="showEditConfirmModal"
                    :show_modal="showEditConfirmModal"></add_info_modal>

    <admin_dashboard_wrapper>
      <template #header><p class="title">Add new employee</p></template>
      <template #bodyHeader>
        <div class="backButton" @click="backToDashboard"><p
            style="font-size: 2em; line-height: 10px; margin-right: 5px; font-weight: normal">‹</p> Back
        </div>
      </template>

      <template #bodyContent>
        <form_wrapper form-left-title="Personal" form-right-title="Contact">
          <template #form_left>
            <input required type="text" v-model="employee.firstName"
                   placeholder="First Name*">
            <input required type="text" v-model="employee.lastName"
                   placeholder="Last Name*">
            <input required type="text" v-model="employee.address.addressLine1" placeholder="Address*">
            <input required type="text" v-model="employee.address.addressLine2" placeholder="Address 2">
            <div>
              <input required type="text" v-model="employee.address.city" placeholder="City*">
              <input required type="text" v-model="employee.address.zip" placeholder="Zip code*">
            </div>
            <input required type="text" v-model="employee.address.country" placeholder="State*">
          </template>

          <template #form_right>
            <input required type="text" v-model="employee.phone" placeholder="Phone number*">
            <p class="form_title">Pick a color</p>
            <colour-picker
                v-model="employee.uiColorCode"
                :value="employee.uiColorCode"
                no-input
                picker="sketch"/>
            <title_and_input_group title="User account">
              <template #body>
                <input required type="text" placeholder="Email" v-model="username">
                <input required type="text" placeholder="Password" v-model="password">
              </template>
            </title_and_input_group>
          </template>
          <template #buttons>
            <button class="button cancel" @click="backToDashboard">Cancel</button>
            <button class="button add" @click="addEmployee">Add</button>
          </template>
        </form_wrapper>
      </template>
    </admin_dashboard_wrapper>
  </div>

</template>

<script>
import Admin_dashboard_wrapper from "@/components/wrappers/admin_dashboard_wrapper";
import Form_wrapper from "@/components/wrappers/form_wrapper";
import title_and_input_group from "@/components/shared/title_and_input_group";
import add_info_modal from "@/components/employees/add_info_modal";
import {mapGetters} from "vuex";

const salt1 = "ncjds432_!cds351c";
const salt2 = "53cspksamc_21=dsa";

export default {
  name: "addEmployee",
  components: {Form_wrapper, Admin_dashboard_wrapper, title_and_input_group, add_info_modal},
  computed: {
    ...mapGetters([
      'showEditConfirmModal',
      'employeeSuccess',
    ]),
  },
  data() {
    return {
      employee: {
        firstName: "",
        lastName: "",
        uiColorCode: "",
        isActive: true,
        phone: "",
        address: {
          addressLine1: "",
          addressLine2: "",
          city: "",
          zip: "",
          country: "",
        },
      },
      password: '',
      username: "",
      isAdmin: false
    }
  },
  methods: {
    backToDashboard() {
      this.$emit('openEmployees');
    },
    okPressedOnModal() {
      this.$store.dispatch('closeShowingModal')
      this.$emit('openEmployees');
    },
    addEmployee() {
      this.password = this.hashPassword(this.password)
      this.$store.dispatch("addEmployee", {
        employee: this.employee,
        username: this.username,
        password: this.password,
        isAdmin: this.isAdmin
      });
    },
    hashPassword(password) {
      return `${salt1}${password}${salt2}`

    }
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.form_title {
  text-align: start;
  font-weight: bold;
  font-size: 1.4em;
  color: $grey;
  margin-bottom: 0.5em;
}

.title {
  font-size: 2em;
  color: $black;
}

.backButton {
  display: flex;
  margin: 2em 0;

  &:hover {
    cursor: pointer;
  }
}

.button {
  width: 10em;
  padding: .6em;
  margin: 0 3%;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $purple;
}


.cancel {
  background-color: $grey;
}


.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px $purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


</style>