<template>
  <div>
    <edit_info_modal :address-edit="addressEdit" :success="employeeSuccess"
                     @ok="okPressedOnModal" group-name="employee"
                     @closeModal="$store.dispatch('closeShowingModal')" v-if="showEditConfirmModal"
                     :show_modal="showEditConfirmModal"></edit_info_modal>

    <admin_dashboard_wrapper>
      <template #header>
        <p v-if="isUser" class="title">Edit your profile</p>
        <p v-else class="title">Edit employee</p></template>
      <template v-if="!isUser" #bodyHeader>
        <div class="backButton" @click="backToDashboard">
          <p style="font-size: 2em; line-height: 10px; margin-right: 5px; font-weight: normal">‹</p> Back
        </div>
      </template>

      <template #bodyContent>
        <form_wrapper form-left-title="Personal" form-right-title="Address">
          <template #form_left>
            <input required type="text" v-model="editEmployeeData.firstName"
                   placeholder="First Name*">
            <input required type="text" v-model="editEmployeeData.lastName"
                   placeholder="Last Name*">
            <p class="form_title">Contact</p>
            <input required type="text" v-model="editEmployeeData.phone" placeholder="Phone number*">
            <p class="form_title">Pick a color</p>
            <colour-picker
                v-model="editEmployeeData.uiColorCode"
                :value="editEmployeeData.uiColorCode"
                no-input
                picker="sketch"/>
          </template>

          <template #form_right>
            <check-box style="margin-top: 1em" label="Show and Edit address" v-model="changeAddress"></check-box>
            <div style="text-align: right" v-if="changeAddress">
              <input required type="text" v-model="editEmployeeAddressData.addressLine1" placeholder="Address*">
              <div>
                <input required type="text" v-model="editEmployeeAddressData.city" placeholder="City*">
                <input required type="text" v-model="editEmployeeAddressData.zip" placeholder="Zip code*">
              </div>
              <input required type="text" v-model="editEmployeeAddressData.country" placeholder="State*">
              <button class="button" @click="editEmployeeAddress">Edit Address</button>
            </div>

          </template>
          <template #buttons>
            <button v-if="!isUser" class="button cancel" @click="backToDashboard">Cancel</button>
            <button v-if="!isUser" class="button add" @click="editEmployee">Edit</button>
            <button v-if="!isUser" class="button suspend" @click="suspendEmployee">Suspend</button>

             <button v-if="isUser" class="button add" @click="editEmployee">Edit</button>
          </template>
        </form_wrapper>
      </template>
    </admin_dashboard_wrapper>
  </div>
</template>

<script>
import Admin_dashboard_wrapper from "@/components/wrappers/admin_dashboard_wrapper";
import Form_wrapper from "@/components/wrappers/form_wrapper";
import title_and_input_group from "@/components/shared/title_and_input_group";
import CheckBox from "@/components/shared/checkBox";
import edit_info_modal from "@/components/shared/edit_info_modal";
import {mapGetters} from "vuex";


export default {
  name: "editEmployee",
  components: {CheckBox, Form_wrapper, Admin_dashboard_wrapper, title_and_input_group, edit_info_modal},
  props: {
    employee: {
      default: {
        id: '',
        firstName: '',
        lastName: '',
        isActive: '',
        phone: '',
        uiColorCode: '',
        address: {
          addressLine1: '',
          city: '',
          zip:'',
          country: '',
        }
      }
    },
    isUser: {
      type: Boolean,
      default: false,
    }
  },
  computed: {
    ...mapGetters([
      'showEditConfirmModal',
      'employeeSuccess',
      'addressSuccess',
    ]),
  },
  data() {
    return {
      addressEdit: false,
      changeAddress: false,
      editEmployeeData: {
        id: this.employee.id,
        firstName: this.employee.firstName,
        lastName: this.employee.lastName,
        isActive: this.employee.isActive,
        phone: this.employee.phone,
        uiColorCode: this.employee.uiColorCode,
      },
      editEmployeeAddressData: {
        addressLine1: this.employee.address.addressLine1,
        city: this.employee.address.city,
        zip: this.employee.address.zip,
        country: this.employee.address.country,
      },
    }
  },
  methods: {
    backToDashboard() {
      this.$emit('openEmployees');
    },
    backToCalendar() {
      //this.$emit('openEmployees');
    },
    okPressedOnModal() {
      this.$store.dispatch('closeShowingModal')
      this.$emit('openEmployees');
    },
    editEmployee() {
      this.addressEdit = false
      if (this.editEmployeeData.uiColorCode === '#000000') {
        this.editEmployeeData.uiColorCode = this.employee.uiColorCode;
      }
      //const destructedEmployee = (({ id, firstName, lastName, phone, picture, isActive, uiColorCode }) => ({ id, firstName, lastName, phone, picture, isActive, uiColorCode  }))(this.employee);
      this.$store.dispatch("editEmployee", {
        id: this.employee.id,
        employee: this.editEmployeeData
      })
      this.$emit('openEmployees');
    },
    suspendEmployee() {
      this.$store.dispatch("suspendEmployee", this.employee.id);
      this.$emit('openEmployees');
    },
    editEmployeeAddress() {
      this.addressEdit = true
      this.$store.dispatch("editEmployeeAddress", {
        id: this.employee.id,
        address: this.editEmployeeAddressData
      })

    },
  },
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.form_title {
  text-align: start;
  font-weight: bold;
  font-size: 1.4em;
  color: $grey;
  margin-bottom: 0.5em;
}

.title {
  font-size: 2em;
  color: $black;
}

.backButton {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.button {
  width: 10em;
  padding: .6em;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $purple;
}

.add {
  margin: 0 3%;
}

.suspend {
  background-color: red;
  margin-right: 3%;
}

.cancel {
  background-color: $grey;
}


</style>