<template>
  <admin_dashboard_wrapper>
    <template #header>
      <p class="activeLink">Employees <span class="underscore"></span></p>
      <p class=" link" @click="openCustomers">Customers </p>
    </template>
    <template #bodyHeader>
      <p class="name"></p>
      <p class="status">Active</p>
      <p class="projects">Hours worked this month</p>
    </template>
    <template #bodyContent>
      <div class="employeeList">
        <div v-if="employeesLoading" style="display: flex; height: 100%; justify-content: center; align-items: center">
          <loader name="ball-spin-fade-loader" color="#583EFF" scale=".7"></loader>
        </div>
        <div style="height: 80vh" v-else-if="employees.length === 0">
          <img :src="image">
          <h2>A fresh start</h2>
          Start by adding your employees by pressing the purple button down there.
        </div>
        <div v-else v-for="(employee, index) in employees" :key="index">
          <div class="employeeRow" :style="{'opacity':employee.isActive ? 1: .3 }"
               @click="toggleDetailSidebar(employee.id)">
            <div class="name">
              <avatar v-if="employee.uiColorCode !== null" class="avatar" :color="employee.uiColorCode"
                      :fullname="employee.firstName +' ' + employee.lastName" :size=56></avatar>
              <avatar v-else class="avatar" :fullname="employee.firstName +' ' + employee.lastName" :size=56></avatar>
              <div class="name_number">
                <p class="employeeName">{{ employee.firstName + ' ' + employee.lastName }}
                </p>
                <p class="employeeEmail">{{ employee.phone }}</p>
              </div>
            </div>
            <p class="status">{{ employee.isActive ? "Active" : "Not active" }}</p>
            <p class="projects">{{ workedHoursById(employee.id) + 'h' || '0' }}</p>
            <action_buttons :editMethod="() => editEmployee(employee)" :delete-method="() => deleteEmployee(employee)"
                            :show-add="false"/>
          </div>
          <hr v-if="index+1 !== employees.length">
        </div>
      </div>
      <add_button style="position: absolute; bottom: 2em; right: 35%" :clickButton="addEmployee"></add_button>
    </template>
  </admin_dashboard_wrapper>
</template>


<script>
import Action_buttons from "../shared/action_buttons";
import add_button from "../shared/addButton";
import modal from "../shared/custom_modal";
import admin_dashboard_wrapper from "../wrappers/admin_dashboard_wrapper";
import {mapGetters} from "vuex";

export default {
  name: "Employees",
  components: {Action_buttons, admin_dashboard_wrapper, add_button, modal},
  data() {
    return {
      isShowingProjects: false,
      openedCustomerId: 0,
      image: require('@/assets/empty_state.png'),
      isModalVisible: false,
    }
  },
  methods: {
    openCustomers() {
      this.$emit('openCustomers');
    },
    addEmployee() {
      this.$emit('addEmployee');
    },
    editEmployee(employee) {
      this.$emit('editEmployee', employee);
    },
    deleteEmployee(employee) {
      this.$store.dispatch('deleteEmployee', employee.id);
    },
    toggleDetailSidebar(id) {
      this.$emit('toggleEmployeeDetail', id);
    },
  },
  mounted() {
    if (this.$store.getters.employees.length === 0) {
      this.$store.dispatch("getEmployees")
    }
  },
  computed: {
    ...mapGetters([
      'employees',
      'employeesLoading',
      'workedHoursById'
    ]),
  }

}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

@media only screen and (max-width: 550px) {
  .employeeRow {
    padding: 1em;
    align-items: center;

    .name {
      display: flex;
      flex-direction: column;
      align-items: center;

      .name_number {
        margin-top: .6em;

        .employeeName {
          margin-right: .4em;
        }
      }
    }

    .status {
      width: 30%;
    }

    .projects {
      width: 20%;
    }
  }
}

@media (min-width: 551px) {

  .employeeRow {
    text-align: start;
    align-items: center;
    padding: 1em 3em;
  }
  .name {
    width: 25%;
    display: flex;
    align-items: center;
  }

  .status {
    width: 10%;
  }

  .projects {
    width: 40%;
  }

  .avatar {
    margin-right: 1.5em;
  }
}

hr {
  background-color: rgba($grey, .2);
  height: 1px;
  border: 0;
}

.link {
  color: $black;
  margin-left: 3%;

  &:hover {
    cursor: pointer;
  }
}

.activeLink {
  color: $purple;
  display: flex;
  flex-direction: column;
  align-items: center;

  .underscore {
    height: 3px;
    margin-top: 3px;
    width: 80%;
    background-color: $purple;
  }
}

.employeeRow {
  display: flex;
  width: 100%;

  &:hover {
    background-color: rgba($purple, .02);
    border-radius: 10px;
    cursor: pointer;

  }

  .avatar {
    font-weight: bolder;
  }

  .employeeName {
    font-weight: bolder;
    margin-bottom: .2em;
  }

  .employeeEmail {
    font-size: .9em;
    color: $grey;
  }
}


.employeeList {
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;

  h2 {
    margin-top: 1em;
    margin-bottom: .7em;
    font-weight: bold;
    font-size: 1.5em;
  }
}


</style>