<template>
  <div class="detailWrapper">
    <div v-if="view==='job'" class="buttons" style="display: flex; align-items: center">
      <action_buttons :editMethod="editJob" :show-add=false></action_buttons>
      <v-icon class="xButton" @click="$emit('sideBar')" name="times"/>
    </div>
    <v-icon v-else class="xButton backButton" @click="$emit('sideBar')" name="times"/>

    <!-- CUSTOMER VIEW-->

    <div v-if="view === 'customer'" class="details">
      <h1>{{ customer.name || "Unknown" }}</h1>
      <div class="detail">
        <v-icon class="icon" name="mobile-alt"/>
        <p>{{ customer.phone || "-" }}</p>
      </div>
      <div class="detail">
        <v-icon class="icon" name="regular/envelope"/>
        <p>{{ customer.email || "-" }}</p>
      </div>
      <div class="detail" v-if="customer.address.addressLine1 !== ''">
        <v-icon class="icon" name="location-arrow"/>
        <p>{{ customer.address.addressLine1 }},
          {{ customer.address.city }}</p>
      </div>
      <div class="detail">
        <v-icon class="icon" name="regular/building"/>
        <p>{{ customer.cvr || "-" }}</p>
      </div>
      <div class="detail" v-if="customer.contactperson !== ''">
        <v-icon class="icon" name="regular/user"/>
        <p>{{ customer.contactperson }}</p>
      </div>
    </div>

    <!-- EMPLOYEE VIEW-->
    <div v-if="view ===  'employee'" class="details">
      <h1>{{ employee.firstName || "Unknown" }} {{ employee.lastName }}</h1>
      <div class="detail">
        <v-icon class="icon" name="mobile-alt"/>
        <p>{{ employee.phone || "-" }}</p>
      </div>
      <div class="detail">
        <v-icon class="icon" name="regular/envelope"/>
        <p>{{ employee.email || "-" }}</p>
      </div>
      <div class="detail" v-if="employee.address.addressLine1 !== ''">
        <v-icon class="icon" name="location-arrow"/>
        <p>{{ employee.address.addressLine1 }},
          {{ employee.address.city }}</p>
      </div>
    </div>

    <!-- PROJECT VIEW-->
    <div v-if="view ===  'project'" class="details">
      <h1>{{ project.name }}</h1>
      <div class="detail">
        <v-icon class="icon" name="regular/calendar-alt"/>
        <p>Mondays</p>
      </div>
      <div class="detail">
        <v-icon class="icon" name="regular/clock"/>
        <p>8:00 - 9:00</p>
      </div>
      <div class="detail">
        <v-icon class="icon" name="location-arrow"/>
        <p>{{ project.address.addressLine1 }},
          {{ project.address.city }}</p>
      </div>
      <div class="detail">
        <v-icon class="icon" name="dollar-sign"/>
        <p>{{ project.hourlyRate ? project.hourlyRate : project.pricePerPiece }}</p>
      </div>
      <div class="detail assignees">
        <v-icon class="icon" name="regular/user"/>
        <div class="assignee">
          <p>Alena Walter</p>
          <p>Mia Marshmellow</p>
          <p>Elena Lokapatov</p>
        </div>
      </div>
      <hr/>
      <h2>Description</h2>
      <p>{{ project.description }}</p>
    </div>

    <div v-if="view === 'user_job'" class="details">
      <h1 v-if="workingProject !== null">
        {{ workingProject.name }}</h1>
      <div class="section">
        <div class="detail">
          <v-icon class="icon" name="regular/calendar-alt"/>
          <p>{{ parseDate(job.workingDate) }}</p>
        </div>
        <div class="detail">
          <v-icon class="icon" name="regular/clock"/>
          <p>{{ job.startTime.slice(0, 5) }} - {{ job.endTime.slice(0, 5) }}</p>
        </div>
        <div class="detail" v-if="this.workingProject.address !== undefined">
          <v-icon class="icon" name="location-arrow"/>
          <p>{{ workingProject.address.addressLine1 }},
            {{ workingProject.address.city }}</p>
        </div>
      </div>
      <hr>
      <div class="section">
        <h1>General Description</h1>
        <p>{{ workingProject.description || '-' }}</p>
      </div>
      <div class="section">
        <h1>Special tasks description</h1>
        <p>{{ job.todayTasks }}</p>
      </div>
      <div class="section">
        <h1>Status</h1>
        <p>{{ job.isDone ? 'Done' : 'Not done' }}</p>
      </div>
      <div class="section">
        <div class="buttons">
          <button class="button done" :style="{'opacity': !job.isDone ? '1' : '.3'}"
                  @click.prevent="markAsDone(job.id)">Mark as done
          </button>
          <button class="button reassign" @click="">Add material</button>
        </div>
      </div>
    </div>

    <!-- JOB VIEW-->
    <div v-if="view === 'job'" class="details">
      <h1 v-if="projectById(job.customerId, job.projectId) !== null">
        {{ projectById(job.customerId, job.projectId).name }}</h1>
      <div class="section">
        <div class="detail">
          <v-icon class="icon" name="regular/calendar-alt"/>
          <p>{{ parseDate(job.workingDate) }}</p>
        </div>
        <div class="detail">
          <v-icon class="icon" name="regular/clock"/>
          <p>{{ job.startTime.slice(0, 5) }} - {{ job.endTime.slice(0, 5) }}</p>
        </div>
        <div class="detail" v-if="this.projectById(job.customerId, job.projectId).address !== undefined">
          <v-icon class="icon" name="location-arrow"/>
          <p>{{ projectById(job.customerId, job.projectId).address.addressLine1 }},
            {{ projectById(job.customerId, job.projectId).address.city }}</p>
        </div>
      </div>

      <div class="section">
        <div class="employee" v-for="(employee, index) in job.employeeIds" :key="index">
          <avatar class="avatar" :fullname="employeeById(employee).firstName +' ' + employeeById(employee).lastName"
                  :size=48></avatar>
          <p>{{ employeeById(employee).firstName }} {{ employeeById(employee).lastName }}</p>
        </div>
      </div>

      <div class="section">
        <div class="buttons">
          <button class="button done" @click="markAsDone">Mark as done</button>
          <button class="button reassign" @click="">Reassign</button>
        </div>
      </div>

      <div class="section">
        <h1>Status</h1>
        <p>{{ job.isDone ? 'Done' : 'Not done' }}</p>
      </div>

      <div class="section">
        <h1>Extra material used</h1>
        <p>-</p>
      </div>

      <hr>

      <div class="section">
        <h1>Description</h1>
        <p>{{ job.todayTasks }}</p>
      </div>


      <div v-for="(employee, index) in job.employeeIds" :key="index">
        <div class="section">
          <h1>{{ employeeById(employee).firstName }}'s contact info</h1>
          <div class="detail">
            <v-icon class="icon" name="mobile-alt"/>
            <p>{{ employeeById(employee).phone || "-" }}</p>
          </div>
          <div class="detail">
            <v-icon class="icon" name="regular/envelope"/>
            <p>{{ employeeById(employee).email || "-" }}</p>
          </div>
          <div class="detail">
            <v-icon class="icon" name="location-arrow"/>
            <p>{{ employeeById(employee).address.addressLine1 }},
              {{ employeeById(employee).address.city }}</p>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>

<script>

import Action_buttons from "@/components/shared/action_buttons";
import {mapGetters} from "vuex";

export default {
  name: "detail",
  props: ['customer', 'project', 'employee', 'job', 'view'],
  methods: {
    editJob() {
      this.$store.dispatch('openEditModal');
    },
    markAsDone() {
      this.$store.dispatch('openMarkAsDoneModal')
    },
    parseDate(date) {
      let myDate = new Date(date)
      return `${myDate.getDate()} ${myDate.toLocaleString("default", {
        month: "long",
      })} ${myDate.getFullYear()}`
    },
  },
  components: {Action_buttons},
  computed: {
    ...mapGetters([
      'projectById',
      'employeeById',
      'workingProject',
    ]),
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.detailWrapper {
  display: flex;
  flex-direction: column;

  .xButton {
    color: $buttonInactive;
    height: 1.2em;
    width: 1.2em;

    &:hover {
      cursor: pointer;
      color: $black;
      transform: translateY(-4px);
      transition: .2s ease-in-out;
    }
  }

  .backButton {
    margin-left: auto;
  }

  hr {
    margin: 3em 0;
  }

  h1 {
    font-size: 1.3em;
    font-weight: bold;
    margin-left: auto;
    text-align: left;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  h2 {
    font-size: 1.1em;
    font-weight: bold;
    margin-left: auto;
    text-align: left;
    margin-bottom: 1.5em;
    margin-top: 2em;
  }

  .details {
    width: 100%;
    text-align: left;

    .section {
      margin-top: 2em;
      margin-bottom: 2em
    }

    .employee {
      display: flex;
      margin: 1em 0;
      align-items: center;

      p {
        font-size: 1.3em;
        font-weight: bold;
        margin-left: .5em;
      }
    }

    .buttons {
      display: flex;
      margin: 0 5% 3% auto;

      .button {
        width: 10em;
        padding: .6em;
        margin: 0 3%;
        border-radius: 10px;
        color: white;
        font-weight: bold;
        font-size: 1.1em;
        background-color: $purple;
      }

      .reassign {
        background-color: rgba($purple, 0.1);
        color: $purple;
      }
    }

    .detail {
      padding: .4em;
      display: flex;
      align-items: center;

      .icon {
        margin-left: 2%;
        width: 10%;
        color: $grey;
        height: 1.4em;
      }

      p {
        font-weight: bold;
        margin-left: 4%;
        width: 70%;
      }
    }

    .assignees {
      align-items: flex-start;

      .assignee {
        width: 70%;

        display: flex;
        flex-direction: column;

        p {
          margin-bottom: .3em;
        }
      }
    }
  }
}


</style>