<template>
  <div class="sidebar_header_wrapper">
    <p class="user">{{loggedEmployee.firstName}} <small>{{role === 'Admin' ? 'Ceo' : 'Cleaner'}}</small></p>
    <avatar class="avatar" :fullname="loggedEmployee.firstName +' ' + loggedEmployee.lastName" :size=56></avatar>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "sidebarHeader",
  data(){
    return{
      role: ''
    }
  },
  mounted() {
    this.$store.dispatch('getLoggedEmployee', localStorage.getItem('user-id'))
    this.role = localStorage.getItem('user-role');
  },
  computed: {
    ...mapGetters([
      'loggedEmployee',
    ]),
  },
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

.sidebar_header_wrapper {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
  height: 5%;
  padding-bottom: 2%;

  .user {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-right: 3%;
    font-weight: bold;
    font-size: 1.2em;

    small {
      font-weight: lighter;
      font-size: .8em;
      color: rgba($black, .6);
    }
  }

}
</style>