<template>
  <div>
    <sidebar-header></sidebar-header>
    <hr>
    <div class="sidebarWrapper">
      <datepicker v-model="myDateAr" ref="picker" :formatted="true" :highlightToday=true></datepicker>
      <div class="logout">
        <p @click.prevent="logout"> Logout </p>
        <v-icon class="icon" name="sign-out-alt"/>
      </div>
    </div>
  </div>
</template>

<script>
import datepicker from "../Datepicker";
import SidebarHeader from "@/components/sidebars/sidebarHeader";

export default {
  name: "sidebar",
  components: {datepicker, SidebarHeader},
  data() {
    return {
      myDateAr: [new Date(1588896000000), new Date(1589896000000)],
      date: "",
    };
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logOut')
          .then(() => {
            this.$router.push('/login')
          })
    }
  }
}
</script>

<style scoped lang="scss">

.sidebarWrapper {
  padding-bottom: 2%;
  height: 90vh;
  position: relative;

  .logout {
    display: flex;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #583EFF;
    padding: .6em 1em;
    position: absolute;
    right: 0;
    bottom: 10%;
    cursor: pointer;

    .icon{
      margin-left: .4em;
    }
  }
}

</style>