<template>
  <div class="admin_wrapper">
    <div class="main" :style="{'background-color': isScheduleOpened ? 'white' : '#FAFAFF' }">
      <navigation></navigation>
      <hr>
      <router-view @toggleEmployeeDetail="toggleEmployeeDetail" @toggleCustomerDetail="toggleCustomerDetail"
                   @toggleProjectDetail="toggleProjectDetail"
                   @toggleJobDetail="toggleJobDetail"></router-view>
    </div>
    <div class="sidebar" :style="{'background-color': isScheduleOpened ?  '#FAFAFF' :'white'}">

      <component @sideBar="selected_sidebar='sidebar'"
                 :is="selected_sidebar"
                 :customer="customer"
                 :project="project"
                 :employee="employee"
                 :job="job"
                 :view="view"
      />
    </div>

  </div>

</template>

<script>
import Navigation from "../components/wrappers/navigation";
import detail from "../components/sidebars/detail";
import sidebar from "../components/sidebars/sidebar";
import helpers from "../services/helpers";
import {mapGetters} from "vuex";

export default {
  name: "Admin",
  components: {Navigation, detail, sidebar},
  computed: {
    ...mapGetters([
      'isScheduleOpened',
    ])
  },
  data() {
    return {
      selected_sidebar: 'sidebar',
      customer: {},
      project: {},
      employee: {},
      job: {},
      view: null,
    }
  },
  methods: {
    logout: function () {
      this.$store.dispatch('logOut')
          .then(() => {
            this.$router.push('/login')
          })
    },
    toggleProjectDetail(customerId, id) {
      this.customer = this.$store.getters.customers.find(customer => customer.id === customerId)
      this.project = this.customer.projects.find(project => project.id === id);
      this.view = helpers.DetailViewEnums.project;
      this.selected_sidebar = 'detail'
    },
    toggleCustomerDetail(id) {
      this.customer = this.$store.getters.customers.find(element => element.id === id);
      this.view = helpers.DetailViewEnums.customer;
      this.selected_sidebar = 'detail'
    },
    toggleEmployeeDetail(id) {
      this.employee = this.$store.getters.employees.find(element => element.id === id);
      this.view = helpers.DetailViewEnums.employee;
      this.selected_sidebar = 'detail'
    },
    toggleJobDetail(id) {
      this.job = this.$store.getters.monthlySchedule.find(element => element.id === id);
      this.view = helpers.DetailViewEnums.job;
      this.selected_sidebar = 'detail'
    }
  }
}
</script>

<style scoped lang="scss">
@media only screen and (max-width: 550px) {
  .main {
    padding: 5%;
    width: 100%;
  }

  .sidebar {
    display: none;
  }
}

@media (min-width: 551px) and (max-width: 800px) {
  .main {
    width: 100%;
  }

  .sidebar {
    display: none;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .admin_wrapper {
    width: 90%;
    margin: auto;

    .main {
      width: 100%;
    }

    .sidebar {
      display: none;
    }
  }
}

@media (min-width: 1201px) and (max-width: 2500px) {
  .admin_wrapper {
    width: 95%;
    margin: auto;

    .main {
      width: 70%;
    }

    .sidebar {
      width: 30%;
      padding: 3%;
    }
  }
}

@media (min-width: 2500px) {
  .admin_wrapper {
    width: 75%;
    margin: auto;

    .main {
      width: 80%;
    }

    .sidebar {
      width: 25%;
      padding: 3%;
    }
  }

}


.admin_wrapper {
  min-height: 100vh;
  display: flex;

  hr {
    margin: 0 3%;
  }
}

</style>