<template>
  <div>
    <add_job_modal :show="showModal" :added-employees="addedEmployees" @closeModal="hideModal"
                   @addEmployeeModal="openEmployeeModal"></add_job_modal>

    <edit_job_modal v-if="editModal" :job="selectedJob" :show="editModal"
                    @closeModal="hideEditModal"
                    @addEmployeeModal="openEmployeeModal"></edit_job_modal>

    <employee_selector_modal :show_modal="showEmployeeModal" :initial-employees="[]"
                             @closeModal="showEmployeeModal = false"
                             @assignEmployees="assignEmployees"></employee_selector_modal>
    <div class="calendar_wrapper">
      <div v-if="!showModal && view==='Day'|| view==='Week'"  class="addButton">
        <add_button :clickButton="addJob"></add_button>
      </div>

      <calendar_header @viewChange="changeView" @setFirstDay="setFirstDay" @setDate="setDate"/>

      <!--  **** DIVIDER ****  -->
      <hr v-if="view==='Day'|| view==='Week'">
      <!--  **** END DIVIDER ****  -->

      <!--  **** BODY DAY AND WEEK ****  -->
      <div v-if="view==='Day'|| view==='Week'" class="calendar_body_wrapper">
        <!--      <div class="time_tracker" :style=" { 'margin-top': 5 + 5*4.3 +  'vh' }">-->
        <!--        <p>{{ timeNow }}</p>-->
        <!--        <span class="red_line"></span>-->
        <!--      </div>-->

        <!--  **** HORIZONTAL TIME ENTRIES ****  -->
        <div class="times">
          <v-icon class="calendar_icon" name="regular/calendar-alt"/>
          <div class="time_slot" v-for="(hour, index) in hours" :key="index">{{ hour }}</div>
        </div>
        <!--  **** END HORIZONTAL TIME ENTRIES ****  -->

        <span class="divider_horizontal"></span>

        <!--  **** SCHEDULE ****  -->
        <div class="calendar">
          <!--  **** SCHEDULE HEADER ****  -->
          <div class="calendar_header">
            <!--  **** SCHEDULE HEADER DAY ****  -->
            <div v-if="view==='Day'" class="employee" v-for="(employee, index) in employees" :key="index">
              <avatar class="avatar" :fullname="employee.firstName +' ' + employee.lastName" :size=56></avatar>
              <div>{{ employee.firstName }} {{ employee.lastName }}</div>
            </div>
            <!--  **** END SCHEDULE HEADER DAY ****  -->

            <!--  **** SCHEDULE HEADER WEEK ****  -->
            <div v-if="view==='Week'" class="week_day" v-for="(day, index) in days" :key="index">
              <div class="week_day_date">{{ day }}
              </div>
              <div class="week_day_day">{{ formatWeekCalendarDate(calendarDates[index]) }}
              </div>
            </div>
            <!--  **** END SCHEDULE HEADER WEEK ****  -->
          </div>
          <!--  **** END SCHEDULE HEADER ****  -->

          <!--  **** SCHEDULE BODY ****  -->
          <div class="calendar_body">
            <!--  **** SCHEDULE BODY DAY ****  -->
            <div v-if="view==='Day'"
                 class="schedule"
                 style="width: 23%"
                 v-for="(employee, index) in employees"
                 :key="index">
              <div class="schedule_job_day">
                <div style="margin-top: 1vh"></div>
                <div class="single_job_day"
                     :class="{selectedJob: selectedJob.id === job.id}"
                     :style="[{'top':getProjectOffset(job.startTime) * 3.5 + 'vh'},{'background-color': `rgb(${flattenedColor(projectColor(job.customerId, job.projectId))})`},,selectedJob.id === job.id ? { 'border-color': (projectColor(job.customerId, job.projectId))} : { 'border': 'none' }]"
                     v-for="(job, index) in scheduleByEmployee(employee.id, date)"
                     @click="toggleDetailSidebar(job)">
                  <job_bubble
                      :job="job"></job_bubble>
                </div>
              </div>
            </div>
            <!--  **** END SCHEDULE BODY DAY ****  -->

            <!--  **** SCHEDULE BODY WEEK ****  -->
            <div v-if="view==='Week'"
                 class="schedule"
                 style="width:calc(100% / 7)"
                 v-for="(number,index) in 7"
                 :key="index">
              <div v-if="scheduleByDate(calendarDates[index]).length > 0"
                   class="schedule_job_week">
                <div style="margin-top: 3.5vh"></div>
                <div class="single_job_week"
                     :class="{selectedJob: selectedJob.id === job.id}"
                     :style="[{'top':getProjectOffset(job.startTime) * 4 + 'vh'},{'background': `rgb(${flattenedColor(projectColor(job.customerId, job.projectId))})`},selectedJob.id === job.id ? { 'border-color': (projectColor(job.customerId, job.projectId))} : { 'border': 'none' }]"
                     v-for="(job, index) in scheduleByDate(calendarDates[index])"
                     @click="toggleDetailSidebar(job)">
                  <job_bubble :job="job"></job_bubble>
                </div>
              </div>
            </div>
            <!--  **** END SCHEDULE BODY WEEK ****  -->
          </div>
          <!--  **** END SCHEDULE BODY ****  -->
        </div>
        <!--  **** END BODY ****  -->
      </div>

      <!--  **** BODY MONTH ****  -->
      <div v-if="view==='Month'" style="font-size: 18px; font-style: italic; height: 60vh; display: flex; margin: auto">
        <p style="margin: auto">Sorry, the content of this page is in making</p>
      </div>
      <!--  **** END SCHEDULE BODY MONTH ****  -->

    </div>

  </div>
</template>

<script>
import {mapGetters} from "vuex";
import Action_buttons from "@/components/shared/action_buttons";
import Job_bubble from "@/components/shared/job_bubble";
import add_button from "@/components/shared/addButton";
import ModalFullScreenVue from 'modal-fullscreen-vue'
import add_job_modal from "@/components/calendar/add_job_modal";
import employee_selector_modal from "@/components/calendar/employee_selector_modal";
import edit_job_modal from "@/components/calendar/edit_job_modal";
import calendar_header from "@/components/shared/calendar/calendar_header";

export default {

  name: "Dashboard",
  mounted() {
    if (this.$store.getters.employees.length === 0) {
      this.$store.dispatch("getEmployees");
    }
    this.$store.dispatch("getSchedule");
  },
  components: {
    Job_bubble,
    Action_buttons,
    add_button,
    'full-screen-modal': ModalFullScreenVue,
    add_job_modal,
    calendar_header,
    edit_job_modal,
    employee_selector_modal
  },
  data() {
    return {
      showModal: false,
      showEmployeeModal: false,
      addedEmployees: [],
      date: new Date(),
      firstDayInWeek: new Date(),
      selectedJob: {},
      view: 'Week',
      timeNow: new Date().toLocaleString('en-US', {hour: 'numeric', minute: 'numeric', hour12: true}),
      hours: ['08:00 am', '09:00 am', '10:00 am', '11:00 am', '12:00 pm', '01:00 pm', '02:00 pm', '03:00 pm', '04:00 pm', '05:00 pm', '06:00 pm', '07:00 pm', '08:00 pm', '09:00 pm', '10:00 pm', '11:00 pm', '12:00 am', '01:00 am', '02:00 am', '03:00 am', '04:00 am', '05:00 am', '06:00 am', '07:00 am'],
      days: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
    }
  },
  computed: {
    ...mapGetters([
      'employees',
      'scheduleByDate',
      'scheduleByEmployee',
      'monthlySchedule',
      'projectsForSchedule',
      'projectColor',
      'editModal',
    ]),
    calendarDates: function () {
      let arr = [];
      for (let i = 0; i < 7; i++) {
        arr.push(new Date(this.firstDayInWeek.getFullYear(), this.firstDayInWeek.getMonth(), this.firstDayInWeek.getDate() + i));
      }
      return arr
    },
  },
  methods: {
    setFirstDay(day) {
      this.firstDayInWeek = day
    },
    setDate(date) {
      this.date = date
    },
    changeView(view) {
      this.view = view;
    },
    hexToRgb(hex) {
      let result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result
          ? {r: parseInt(result[1], 16), g: parseInt(result[2], 16), b: parseInt(result[3], 16)}
          : "0, 0, 0";
    },
    flattenedColor(color) {
      let fgCol = this.hexToRgb(color)
      let r = 0.1 * fgCol.r + (1 - 0.1) * 255
      let g = 0.1 * fgCol.g + (1 - 0.1) * 255
      let b = 0.1 * fgCol.b + (1 - 0.1) * 255
      return `${r},${g},${b}`
    },
    addJob() {
      this.showModal = true;
    },
    openEmployeeModal() {
      this.showEmployeeModal = true;
    },
    assignEmployees(payload) {
      this.showEmployeeModal = false;
      this.addedEmployees = payload;
    },
    hideModal() {
      this.showModal = false;
    },
    hideEditModal() {
      this.$store.dispatch('closeEditModal');
    },
    getProjectOffset(start) {
      return parseInt(start.slice(0, 2)) - 8;
    },
    toggleDetailSidebar(job) {
      this.selectedJob = job;
      this.$emit('toggleJobDetail', job.id);
    },
    formatWeekCalendarDate(date) {
      return `${date.getDate()}.${date.getMonth() + 1}`
    },

    formatDay(month) {
      return (new Date(2020, month)).toLocaleString("default", {
        month: "long",
      })
    }
    ,
    previous() {
      switch (this.view) {
        case 'Day': {
          this.date = new Date(this.date.getFullYear(), this.date.getMonth(), (this.date.getDate() - 1));
          break;
        }
        case 'Week': {
          this.date = new Date(this.date.getFullYear(), this.date.getMonth(), (this.date.getDate() - 7));
          break;
        }
        case 'Month': {
          this.date = new Date(this.date.getFullYear(), (this.date.getMonth() - 1), this.date.getDate());
          break;
        }
      }
    }
    ,
    next() {
      switch (this.view) {
        case 'Day': {
          this.date = new Date(this.date.getFullYear(), this.date.getMonth(), (this.date.getDate() + 1));
          break;
        }
        case 'Week': {
          this.date = new Date(this.date.getFullYear(), this.date.getMonth(), (this.date.getDate() + 7));
          break;
        }
        case 'Month': {
          this.date = new Date(this.date.getFullYear(), (this.date.getMonth() + 1), this.date.getDate());
          break;
        }
      }
    }
    ,
  }
}
</script>

<style scoped lang="scss">
@import "../styles/colors";

.selectedJob {
  border: solid 2.5px;
  -webkit-box-shadow: 0 4px 4px rgba(88, 62, 255, 0.3);
  box-shadow: 0 4px 4px rgba(88, 62, 255, 0.3);
}

.calendar_wrapper {
  padding: 2% 0 2% 3%;

  .addButton {
    position: absolute;
    bottom: 3%;
    right: 27%;
  }
}

hr {
  margin-top: 1.5em;
  margin-bottom: 0;
}

.calendar_header {
  display: flex;
  justify-content: space-between;

  .header_date {
    display: flex;
    font-size: 2em;
    font-weight: bold;
  }

  .calendar_view_switch_wrapper {
    display: flex;
    background-color: #F2EFFC;
    align-items: center;
    width: 24%;
    padding: 0 .2em;
    border-radius: 6px;

    .switch {
      width: 33%;
    }

    .header_button_active {
      background-color: white;
      height: 1.8em;
      color: $purple;
    }

    .horizontal_bar {
      height: 1.4em;
      width: 3px;
      background-color: $lightGrey;
    }
  }

  .header_buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 3%;

    .header_button {
      margin: 0 .1em;
      padding: 0 .5em;
    }
  }

  .button {
    display: flex;
    align-items: center;
    background-color: #F2EFFC;
    padding: 0 .2em;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 6px;
    color: $black;
    height: 2em;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }
  }
}

.calendar_body_wrapper {
  display: flex;
  width: 100%;
  position: relative;


  .time_tracker {
    position: absolute;
    display: flex;
    width: 96%;
    align-items: center;
    margin-left: 1%;

    p {
      width: 8%;
      background-color: red;
      border-radius: 10px;
      padding: .2em .5em;
      color: white;
      font-size: .9em;
    }

    .red_line {
      width: 100%;
      height: 1px;
      background-color: red;
    }
  }


  .times {
    width: 10%;
    overflow: auto;

    .time_slot {
      height: 4vh;
      width: 100%;
      color: $grey;
      font-size: .8em;
      font-weight: bold;
    }

    .calendar_icon {
      height: 3vh;
      width: 1.5em;
      color: $purple;
      margin: 1em 0 3em 0;
    }
  }

  .divider_horizontal {
    height: auto;
    width: 2px;
    background-color: $lightGrey;
  }

  .calendar {
    width: 100%;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;

    .calendar_header {
      width: 100%;

      .employee {
        display: flex;
        align-items: center;
        width: 23%;
        padding: .5em 1em;
        color: $black;
        font-weight: bold;
        font-size: 1.1em;
        flex: 0 0 auto;
        border-bottom: 1px solid $lightGrey;
        border-right: 1px solid $lightGrey;

        .avatar {
          margin-right: .5em;
        }
      }

      .week_day {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .5em;
        width: calc(100% / 7);
        color: $black;
        flex: 0 0 auto;
        border-bottom: 1px solid $lightGrey;
        border-right: 1px solid $lightGrey;

        .week_day_date {
          font-weight: bold;
          margin-bottom: .2em;
          font-size: 1.1em;
        }

        .week_day_day {
          color: #979797;
          font-size: .8em;
          font-weight: bold;
        }
      }
    }

    .calendar_body {
      display: flex;
      width: 100%;

      .schedule {
        padding: .5em 1em;
        height: 100vh;
        flex: 0 0 auto;
        border-right: 1px solid $lightGrey;

        .schedule_job_day {
          position: relative;

          .single_job_day {
            position: absolute;
            display: flex;
            padding: 1em;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;

            &:hover {
              cursor: pointer;
            }
          }
        }

        .schedule_job_week {
          position: relative;

          .single_job_week {
            position: absolute;
            padding: .5em;
            overflow: scroll;
            max-width: 100%;
            width: 100%;
            border-radius: 10px;
            white-space: normal;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

}


</style>