<template>
  <div class="dashboardWrapper">
    <component @openCustomers="selected_component='customers'"
               @openEmployees="selected_component='employees'"
               @addCustomer="selected_component='addCustomer'"
               @addEmployee="selected_component='addEmployee'"
               @editEmployee="editEmployee"
               @editCustomer="editCustomer"
               @editProject="editProject"
               @addProject="addProject"
               @toggleCustomerDetail="toggleCustomerDetail"
               @toggleEmployeeDetail="toggleEmployeeDetail"
               @toggleProjectDetail="toggleProjectDetail"
               :is="selected_component"
               :customerId="customerId"
               :employee="employeeToEdit"
               :customer="customerToEdit"
               :project="projectToEdit"
    />

  </div>
</template>

<script>

import employees from "../components/employees/employees";
import customers from "../components/customers/customers";
import addCustomer from "../components/customers/addCustomer";
import addProject from "../components/customers/addProject";
import addEmployee from "../components/employees/addEmployee";
import editEmployee from "../components/employees/editEmployee";
import editCustomer from "../components/customers/edit_customer";
import editProject from "../components/customers/edit_project";
import sidebar from "../components/sidebars/sidebar";
import detail from "../components/sidebars/detail";

export default {
  name: "Dashboard",
  components: {employees, customers, addCustomer, addProject, addEmployee, detail, sidebar, editEmployee, editCustomer, editProject},
  methods: {
    toggleCustomerDetail(id) {
      this.$emit('toggleCustomerDetail', id)
    },
    toggleEmployeeDetail(id) {
      this.$emit('toggleEmployeeDetail', id)
    },
    toggleProjectDetail(customerId, id) {
      this.$emit('toggleProjectDetail', customerId, id)
    },
    addProject(id){
      this.customerId = id;
      this.selected_component='addProject'
    },
    editEmployee(employee){
      this.employeeToEdit = employee;
      this.selected_component='editEmployee'
    },
    editCustomer(customer){
      this.customerToEdit = customer;
      this.selected_component='editCustomer'
    },
    editProject(project){
      this.projectToEdit = project;
      this.selected_component='editProject'
    }
  },
  data() {
    return {
      selected_component: 'customers',
      selected_sidebar: 'sidebar',
      customerId: "",
      employeeToEdit: "",
      customerToEdit: "",
      projectToEdit: "",

    }
  },


}
</script>

<style scoped lang="scss">
.dashboardWrapper {
  height: 90%;
  padding: 4% 3%;

}
</style>