<template>
  <div class="admin_wrapper">
    <div class="main">
      <navigation :is-user-view="true"></navigation>
      <hr>
      <router-view @toggleJobDetail="toggleJobDetail"></router-view>
    </div>
    <div class="sidebar">
      <component @sideBar="selected_sidebar='sidebar'" :view="view" :is="selected_sidebar" :job="job"/>
    </div>

  </div>
</template>

<script>
import Navigation from "@/components/wrappers/navigation";
import detail from "@/components/sidebars/detail";
import sidebar from "@/components/sidebars/sidebar";
import helpers from "@/services/helpers";

export default {
  name: "Employee",
  components: {Navigation, detail, sidebar},
  data() {
    return {
      selected_sidebar: 'sidebar',
      job: {},
      view: null,
    }
  },
  methods: {
    async toggleJobDetail(id) {
      this.job = this.$store.getters.loggedEmployeeSchedule.find(element => element.id === id);
      this.view = helpers.DetailViewEnums.user_job;
      await this.$store.dispatch('getProjectById', this.job.projectId)
      this.selected_sidebar = 'detail'
    }
  }
}
</script>

<style scoped lang="scss">

@media only screen and (max-width: 550px) {
  .main {
    padding: 5%;
    width: 100%;
  }

  .sidebar {
    display: none;
  }
}

@media (min-width: 551px) and (max-width: 800px) {
  .main {
    width: 100%;
  }

  .sidebar {
    display: none;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .admin_wrapper {
    width: 90%;
    margin: auto;

    .main {
      width: 100%;
    }

    .sidebar {
      display: none;
    }
  }
}

@media (min-width: 1201px) and (max-width: 2500px) {
  .admin_wrapper {
    width: 95%;
    margin: auto;

    .main {
      width: 70%;
    }

    .sidebar {
      width: 30%;
      padding: 3%;
    }
  }
}

@media (min-width: 2500px) {
  .admin_wrapper {
    width: 75%;
    margin: auto;

    .main {
      width: 80%;
    }

    .sidebar {
      width: 25%;
      padding: 3%;
    }
  }

}


.admin_wrapper {
  min-height: 100vh;
  display: flex;

  hr {
    margin: 0 3%;
  }
}
</style>