<template>
  <div class="wrapper">
    <h1 style="margin-top: 5%; font-size: 3em">RenKolding</h1>
    <div class="container">
      <div class="loginWrap">
        <div v-if="authStatus === 'loading'" class="spinner">
          <sync-loader
              class="loaderDots"
              :size="8"
              :loading="authStatus === 'loading'"
          />
        </div>
        <form>
          <input
              @click="errorMessage=false"
              required
              :class="{redOutline: errorMessage || authStatus === 'error' }"
              v-model="user.username"
              type="email"
              placeholder="Username">
          <input
              @click="errorMessage=false"
              v-model="user.password"
              :class="{redOutline: errorMessage || authStatus === 'error'}"
              type="password"
              placeholder="Password"
              required>
          <input class="form-input" @click.prevent="submitLogin" value="Log in" type="submit">
        </form>

      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import router from "../router";

export default {
  name: 'Login',
  data() {
    return {
      user: {
        username: '',
        password: '',
      },
      errorMessage: false,
    }
  },
  computed: {
    ...mapGetters([
      'role',
      'authStatus',
    ]),
  },
  methods: {
    async submitLogin() {
      this.trimInputs();
      if (this.user.username && this.user.password) {
        const {username, password} = this.user
        await this.$store.dispatch('authUser', {username, password})
        console.log(6)
        await router.push({name: this.role === 'Admin' ? 'dashboard' : 'user-calendar'});

      } else {
        this.errorMessage = true;
      }
    },
    trimInputs() {
      this.user.username.trim();
      this.user.password.trim();
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import "../styles/colors.scss";


@media only screen and (max-width: 550px) {
  .container {
    width: 60vw;
  }
}

@media (min-width: 551px) and (max-width: 800px) {
  .container {
    width: 50vw;
  }
}

@media (min-width: 801px) and (max-width: 1200px) {
  .container {
    width: 35vw;
  }
}

@media (min-width: 1201px) and (max-width: 2500px) {
  .container {
    width: 25vw;
  }
}

@media (min-width: 2500px) {
  .container {
    width: 12vw;
  }
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  background: #F2C51722;
  flex-direction: column;


  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 400px;
    margin: 3em auto 0 auto;
    background: white;
    border-top: 0.25em solid $company-accent;
    box-sizing: border-box;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    box-shadow: 5px 0px 15px 5px rgba(0, 0, 0, 0.08);

    .icon {
      width: 2em;
      height: 1.75em;
      background: $company-accent;
      position: absolute;
      right: 0;
    }
  }

}

.redOutline {
  transition: 0.2s ease all;
  border: 1px solid #fd5454 !important;
}

.loginWrap {
  .myIcon {
    width: 2em;
    height: 1.75em;
    position: absolute;
    right: 0;
    cursor: pointer;
    display: flex;

    .icon {
      color: $gray !important;
      margin: auto;
    }
  }

  h3 {
    color: #0B193E;
    letter-spacing: 0.05em;
    margin: 0.5em 0 1em 0;

  }

  form {
    margin: 2em;

    input {
      border: 1px solid $company-primary;
      padding: 1em;
      outline: none;
      margin-bottom: 1em;
      display: block;
      width: 100%;
      box-sizing: border-box;
      font-wieght: 400;
      transition: 0.25s ease all;

      &:focus {
        border: 1px solid $company-accent;
      }

    }

    input[type=submit] {
      cursor: pointer;
      background: $company-accent;
      width: 100%;
      border: 0;
      padding: 1em;
      color: $gray;
      text-transform: uppercase;

      &:hover {
        transition: all 0.3s ease-in-out;
        background: $company-accent;
      }
    }
  }
}

.spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #FFFFFF88;
  border-bottom-right-radius: 2em;
  border-top-left-radius: 2em;
}

.loaderDots {
  position: absolute;
  top: 45%;
  left: 45%;

}
</style>
