<template>
  <div class="wrapper">
    <div v-if="employeeLoading" style="display: flex; height: 100%; justify-content: center; align-items: center">
      <loader name="ball-spin-fade-loader" color="#583EFF" scale=".7"></loader>
    </div>
    <editEmployee v-if="!employeeLoading" :is-user="true" :employee="loggedEmployee"></editEmployee>
  </div>

</template>

<script>
import editEmployee from "@/components/employees/editEmployee";
import {mapGetters} from "vuex";

export default {
  name: "Profile",
  mounted() {
    this.$store.dispatch('getLoggedEmployee', localStorage.getItem('user-id'))
  },
  components: {editEmployee},
  computed: {
    ...mapGetters([
      'loggedEmployee',
      'employeeLoading'
    ]),
  },
}
</script>

<style scoped>
.wrapper {
  height: 90%;
  padding: 4% 3%;

}
</style>