<template>
  <div>
    <div v-if="showMarkAsDoneModal">
      <mark_as_done_modal @markAsDone="markDone" :job="selectedJob" :show_modal="showMarkAsDoneModal"
                          @closeModal="closeMarkAsDoneModal"
      ></mark_as_done_modal>
    </div>
    <div class="calendar_wrapper">
      <calendar_header @viewChange="changeView" @setFirstDay="setFirstDay" @setDate="setDate"/>

      <hr v-if="view==='Day'|| view==='Week'">

      <div v-if="employeeLoading">
        <loader name="ball-spin-fade-loader" color="#583EFF" scale=".7"></loader>
      </div>

      <div v-else class="schedule">
        <div v-if="view==='Week'" v-for="(day, index) in days" :key="index">
          <div class="day_and_date">
            <div class="day">{{ day }}</div>
            <div class="date">{{ formatWeekCalendarDate(calendarDates[index]) }}</div>
          </div>
          <div class="empty_schedule" v-if="loggedEmployeeScheduleByDate(calendarDates[index]).length === 0"> -</div>
          <div v-else class="day_schedule">
            <div
                class="something"
                v-for="(job, index) in loggedEmployeeScheduleByDate(calendarDates[index])"
                @click="toggleDetailSidebar(job)">
              <div class="day_schedule_item" :class="{selectedJob: selectedJob.id === job.id}"
                   :style="[selectedJob.id === job.id ?
                    { 'border-color': scheduleProjectById(job.projectId).uiColorCode} :
                    { 'border': 'none' },
                 {'background-color': `rgb(${flattenedColor(scheduleProjectById(job.projectId).uiColorCode)})`},
                 {'color': scheduleProjectById(job.projectId).uiColorCode}]">
                <p class="name">{{ scheduleProjectById(job.projectId).name }}</p>
                <p class="info"> {{ job.startTime.slice(0, 5) }} - {{ job.endTime.slice(0, 5) }} •
                  {{ scheduleProjectById(job.projectId).address.addressLine1 }},
                  {{ scheduleProjectById(job.projectId).address.city }}
                </p>
                <v-icon class="icon" name="caret-down"/>
              </div>
              <div class="selected_info" v-if="selectedJob.id === job.id">
                <div class="section">
                  <h1>General Description</h1>
                  <p>{{ scheduleProjectById(job.projectId).description || '-' }}</p>
                </div>
                <div class="section">
                  <h1>Special tasks description</h1>
                  <p>{{ job.todayTasks }}</p>
                </div>
                <div class="section">
                  <h1>Status</h1>
                  <p>{{ job.isDone ? 'Done' : 'Not done' }}</p>
                </div>
                <div class="section">
                  <button :style="{'opacity': !job.isDone ? '1' : '.3'}" class="button done"
                          @click="markAsDone">Mark as done
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-if="view==='Day'">
          <div style="font-size: 18px; font-style: italic; height: 60vh; display: flex; margin: auto"
               v-if="loggedEmployeeScheduleByDate(date).length === 0">
            <p style="margin: auto">Wiiiu free day</p>
          </div>
          <div v-else class="day_schedule">
            <div
                class="something"
                v-for="(job) in loggedEmployeeScheduleByDate(date)"
                @click="toggleDetailSidebar(job)">
              <div class="day_schedule_item"
                   :class="{selectedJob: selectedJob.id === job.id}"
                   :style="[selectedJob.id === job.id ?
                    { 'border-color': scheduleProjectById(job.projectId).uiColorCode} :
                    { 'border': 'none' },
                 {'background-color': `rgb(${flattenedColor(scheduleProjectById(job.projectId).uiColorCode)})`},
                 {'color': scheduleProjectById(job.projectId).uiColorCode}]">
                <p class="name">{{ scheduleProjectById(job.projectId).name }}</p>
                <p class="info"> {{ job.startTime.slice(0, 5) }} - {{ job.endTime.slice(0, 5) }} •
                  {{ scheduleProjectById(job.projectId).address.addressLine1 }},
                  {{ scheduleProjectById(job.projectId).address.city }}
                </p>
                <v-icon class="icon" name="caret-down"/>
              </div>
              <div class="selected_info" v-if="selectedJob.id === job.id">
                <div class="section">
                  <h1>General Description</h1>
                  <p>{{ scheduleProjectById(job.projectId).description || '-' }}</p>
                </div>
                <div class="section">
                  <h1>Special tasks description</h1>
                  <p>{{ job.todayTasks }}</p>
                </div>
                <div class="section">
                  <h1>Status</h1>
                  <p>{{ job.isDone ? 'Done' : 'Not done' }}</p>
                </div>
                <div class="section">
                  <button :style="{'opacity': !job.isDone ? '1' : '.3'}" class="button done"
                          @click.prevent="markAsDone(job.id)">Mark as done
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--  **** BODY MONTH ****  -->
      <div v-if="view==='Month'" style="font-size: 18px; font-style: italic; height: 60vh; display: flex; margin: auto">
        <p style="margin: auto">Sorry, the content of this page is in making</p>
      </div>
      <!--  **** END SCHEDULE BODY MONTH ****  -->

    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import Action_buttons from "@/components/shared/action_buttons";
import Job_bubble from "@/components/shared/job_bubble";
import ModalFullScreenVue from 'modal-fullscreen-vue'
import calendar_header from "@/components/shared/calendar/calendar_header";
import mark_as_done_modal from "@/components/shared/calendar/mark_as_done_modal";

export default {

  name: "Dashboard",
  mounted() {
    this.$store.dispatch('getLoggedEmployee', localStorage.getItem('user-id')).then(() =>
        this.$store.dispatch("loadEmployeeSchedule", this.loggedEmployee.id)
    )
  },
  components: {
    Job_bubble,
    Action_buttons,
    'full-screen-modal': ModalFullScreenVue,
    calendar_header,
    mark_as_done_modal,
  },
  data() {
    return {
      firstDayInWeek: new Date(),
      date: new Date(),
      selectedJob: {},
      view: 'Week',
      timeNow: new Date().toLocaleString('en-US', {hour: 'numeric', minute: 'numeric', hour12: true}),
      hours: ['08:00 am', '09:00 am', '10:00 am', '11:00 am', '12:00 pm', '01:00 pm', '02:00 pm', '03:00 pm', '04:00 pm', '05:00 pm', '06:00 pm', '07:00 pm', '08:00 pm', '09:00 pm', '10:00 pm', '11:00 pm', '12:00 am', '01:00 am', '02:00 am', '03:00 am', '04:00 am', '05:00 am', '06:00 am', '07:00 am'],
      days: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
    }
  },
  computed: {
    ...mapGetters([
      'loggedEmployee',
      'scheduleProjectById',
      'loggedEmployeeSchedule',
      'loggedEmployeeScheduleByDate',
      'showMarkAsDoneModal',
      'employeeLoading'
    ]),
    calendarDates: function () {
      let arr = [];
      for (let i = 0; i < 7; i++) {
        arr.push(new Date(this.firstDayInWeek.getFullYear(), this.firstDayInWeek.getMonth(), this.firstDayInWeek.getDate() + i));
      }
      return arr
    },
  },
  methods: {
    markDone(payload) {
      this.$store.dispatch('closeMarkAsDoneModal')
      if (payload.differentHours) {
        this.selectedJob.startTime = payload.newTime.startTime
        this.selectedJob.endTime = payload.newTime.endTime
        this.$store.dispatch('editJob', this.selectedJob)
      }
      this.$store.dispatch('markAsDone', this.selectedJob.id)
    },
    markAsDone() {
      this.$store.dispatch('openMarkAsDoneModal')
    },
    closeMarkAsDoneModal() {
      this.$store.dispatch('closeMarkAsDoneModal')
    },
    setFirstDay(day) {
      this.firstDayInWeek = day
    },
    setDate(date) {
      this.date = date
    },
    changeView(view) {
      this.view = view;
    },
    hexToRgb(hex) {
      let result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
      return result
          ? {r: parseInt(result[1], 16), g: parseInt(result[2], 16), b: parseInt(result[3], 16)}
          : "0, 0, 0";
    },
    flattenedColor(color) {
      let fgCol = this.hexToRgb(color)
      let r = 0.1 * fgCol.r + (1 - 0.1) * 255
      let g = 0.1 * fgCol.g + (1 - 0.1) * 255
      let b = 0.1 * fgCol.b + (1 - 0.1) * 255
      return `${r},${g},${b}`
    },
    getProjectOffset(start) {
      return parseInt(start.slice(0, 2)) - 8;
    },
    toggleDetailSidebar(job) {
      this.selectedJob = job;
      this.$emit('toggleJobDetail', job.id);
    },
    formatWeekCalendarDate(date) {
      return `${date.getDate()}.${date.getMonth() + 1}`
    },
    formatDay(month) {
      return (new Date(2020, month)).toLocaleString("default", {
        month: "long",
      })
    },
  }
}
</script>

<style scoped lang="scss">
@import "../styles/colors";

@media only screen and (max-width: 550px) {
  .day_schedule {
    width: 100%;
    margin: 1em 0;

    .something {
      width: 100%;
      margin-bottom: 1em;

      .day_schedule_item {
        width: 100%;
        padding: 1em;

      }
    }
  }
  .icon {
    margin-top: .2em;
    height: 20px;
    width: 20px;
  }
}

@media (min-width: 551px) {
  .day_schedule {
    margin: 1em;

    .day_schedule_item {
      padding: 1em;
      margin: 1em;
    }
  }

}

.selectedJob {
  border: solid 2.5px;
  -webkit-box-shadow: 0 4px 4px rgba(88, 62, 255, 0.3);
  box-shadow: 0 4px 4px rgba(88, 62, 255, 0.3);
}

.calendar_wrapper {
  padding: 2% 0 2% 3%;

  .schedule {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 2em;

    .day_and_date {
      .day {
        font-size: 1.4em;
        margin-bottom: .2em;
      }

      .date {
        font-size: 1.1em;
      }
    }

    .empty_schedule {
      margin: 3% 5%;
      font-size: 1.3em;
    }

    .day_schedule {
      display: flex;
      flex-wrap: wrap;

      .selected_info {
        margin-top: 1em;

        .section {
          margin: 1em 0;
          padding: .3em;

          h1 {
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: .3em;
          }

          .button {
            width: 10em;
            padding: .5em;
            border-radius: 10px;
            color: white;
            font-weight: bold;
            font-size: 1em;
            background-color: $purple;
          }
        }
      }

      .day_schedule_item {
        box-sizing: border-box;
        border-radius: 10px;
        white-space: normal;

        &:hover {
          cursor: pointer;
        }

        .name {
          max-width: 100%;
          text-align: left;
          margin-bottom: .5em;
          font-size: 1.3em;
          font-weight: bold;

        }

        .info {
          font-size: .9em;
          opacity: 90%;
          line-height: 1.3em;
          text-align: left;
        }
      }
    }
  }
}

hr {
  margin-top: 1.5em;
  margin-bottom: 0;
}


</style>