<template>
  <modal
      width="40%"
      height="80%"
      padding="3em"
      v-show="show"
      @close="closeModal">
    <template v-slot:header>
      <h2>Schedule a new job</h2>
    </template>

    <template v-slot:body>
      <form class="form" @submit.prevent="saveNewJob">
        <label>Project</label>
        <div class="select_wrapper">
          <select required v-model="selectedProject">
            <option value="" disabled>Select Project</option>
            <option v-for="option in projectsForSchedule" :value="option">
              {{ option.name }}
            </option>
          </select>
        </div>

        <div class="dates">
          <div class="date_item">
            <label>Date</label>
            <input v-model="date" required type="date">
          </div>
          <div class="date_item">
            <label>Start time</label>
            <input v-model="startTime" required type="time">
          </div>
          <div class="date_item">
            <label>End time</label>
            <input v-model="endTime" required type="time">
          </div>
        </div>

        <label>Repetitions <span>(optional)</span></label>
        <div class="select_wrapper">
          <select required v-model="selectedReps">
            <option value="" disabled>Choose the frequency of the job</option>
            <option :value="0">One Time Job</option>
            <option :value="1">Daily</option>
            <option :value="7">Weekly</option>
            <option :value="30">Monthly</option>
          </select>
        </div>


        <div class="dates">
          <div v-if="selectedReps !== 0 && selectedReps !== ''" class="date_item">
            <label>End date</label>
            <input v-model="endDate" required type="date">
          </div>
        </div>


        <label>Tasks</label>
        <textarea rows="4" cols="50" v-model="tasks" placeholder="Write down the extra tasks"/>

        <label>Employees</label>
        <div class="assigned_employees">
          <div class="single_employee" v-for="employee in addedEmployees">
            <avatar class="avatar" :fullname="employee.firstName +' ' + employee.lastName" :size=40></avatar>
          </div>
          <div class="add_employee_button" @click="$emit('addEmployeeModal')">
            <div class="plus" v-if="addedEmployees.length===0">+</div>
            <div class="icon" v-else>
              <v-icon scale="1.2" name="regular/edit"/>
            </div>
          </div>
        </div>

        <div class="spacer"></div>
        <button class="button" type="submit">Save</button>
      </form>
    </template>
  </modal>

</template>

<script>
import {mapGetters} from "vuex";
import modal from "@/components/shared/custom_modal";

export default {
  name: "add_job_modal",
  props: ['show', 'addedEmployees'],
  components: {modal},
  computed: {
    ...mapGetters([
      'projectsForSchedule',
    ]),
  },
  methods: {
    closeModal() {
      this.$emit('closeModal');
    },
    saveNewJob() {
      let newJob = {
        workingDate: this.date,
        startTime: this.startTime,
        endTime: this.endTime,
        todayTasks: this.tasks,
        customerId: this.selectedProject.customerId,
        projectId: this.selectedProject.id,
        employeeIds: this.addedEmployees.map(el => el.id)
      }
      if (this.selectedReps === 0 || this.selectedReps === '') {
        this.$store.dispatch("addJob", newJob);
        this.closeModal();
        return
      }

      let newJobWithRepeats = {repeats: this.selectedReps, endDate: this.endDate, newJob: newJob}
      this.$store.dispatch("addRepeatedJob", newJobWithRepeats);
      this.closeModal();
    },
  },
  data() {
    return {
      selectedProject: '',
      selectedReps: '',
      date: '',
      startTime: '',
      endTime: '',
      endDate: '',
      tasks: '',
    }
  },

}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

h2 {
  margin-bottom: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
  height: 100%;

  .select_wrapper {
    position: relative;
    width: 100%;
  }

  .select_wrapper::after {
    content: "▼";
    font-size: 1rem;
    top: 40%;
    color: $grey;
    right: 10px;
    position: absolute;
  }

  label {
    font-weight: bold;

    span {
      font-size: .8em;
      font-weight: normal;
    }
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(58%) sepia(13%) saturate(9%) hue-rotate(8deg) brightness(101%) contrast(91%);
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(58%) sepia(13%) saturate(9%) hue-rotate(8deg) brightness(101%) contrast(91%);
  }

  input, select, textarea {
    width: 100%;
    height: 55px;
    margin: 1em 0;
    padding: .8em;
    border: 1px solid $grey;
    box-sizing: border-box;
    /* input / default */
    box-shadow: 0 1px 2px rgba(50, 43, 95, 0.08);
    border-radius: 4px;
  }

  select {
    -webkit-appearance: none;
    appearance: none;
  }


  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $grey;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $grey;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $grey;
  }

  .dates {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .date_item {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      align-items: start;
      flex: 1 1 0;
      margin-right: .5em;
    }


  }

  .assigned_employees {
    display: flex;
    margin-top: .5em;

    .add_employee_button {
      margin: .3em;
      border-radius: 50%;
      border: rgba($purple, .5) 2px dashed;
      color: rgba($purple, .5);
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      .plus {
        font-size: 1.2em;
        text-align: center;
        font-weight: bold;
      }


      &:hover {
        cursor: pointer;
      }
    }

    .single_employee {
      margin: .3em;

      .removeEmployee {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8em;
        font-weight: bold;
        border-radius: 50%;
        color: white;
        background-color: rgba(253, 85, 85, 1);
      }
    }

    .single_employee:nth-child(1) {
      margin-left: 0;
    }
  }

  .spacer {
    display: flex;
    flex-grow: 1;

  }

  .button {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: .6em;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    background-color: $purple;
  }
}


</style>