<template>
  <div>
    <h2>{{date}}</h2>
  </div>

</template>

<script>
export default {
  name: "calendar_date",
  props: {
    date: {
      type: String,
      default: ""
    },
  },
}
</script>

<style scoped>

</style>