<template>
  <div>
    <employee_selector_modal style="z-index: 101" :show_modal="showEmployeeList" :initialEmployees="addedEmployees"
                             @closeModal="hideModal"
                             @assignEmployees="assignEmployees"></employee_selector_modal>

    <edit_info_modal style="z-index: 101" :success="scheduleSuccess"
                     @ok="$store.dispatch('closeCustomerShowingModal')" group-name="job"
                     @closeModal="$store.dispatch('closeScheduleShowingModal')" v-if="showScheduleEditConfirmModal"
                     :show_modal="showScheduleEditConfirmModal"></edit_info_modal>

    <modal
        padding="1em 2em"
        width="30%"
        height="50%"
        v-show="show"
        @close="closeModal">

      <template v-slot:body>
        <form class="form" @submit.prevent="editJob">
          <div class="select_wrapper">
            <select required v-model="selectedProject">
              <option v-for="option in projectsForSchedule" :value="option">
                {{ option.name }}
              </option>
            </select>
          </div>

          <input v-model="jobToEdit.workingDate" required type="date">

          <div class="times">
            <input class="time_entry" v-model="jobToEdit.startTime" required type="time">
            <div style="width: 1em"></div>
            <input class="time_entry" v-model="jobToEdit.endTime" required type="time">
          </div>

          <textarea rows="4" cols="50" v-model="jobToEdit.todayTasks"
                    placeholder="Write down the extra tasks"></textarea>

          <div class="assigned_employees">
            <div class="single_employee" v-for="employee in addedEmployees">
              <avatar class="avatar" :fullname="employee.firstName +' ' + employee.lastName" :size=40></avatar>
            </div>
            <div class="add_employee_button" @click="showEmployeeList = true">
              <div class="plus" v-if="addedEmployees.length !== 0 ">+</div>
              <div class="icon" v-else>
                <v-icon scale="1.2" name="regular/edit"/>
              </div>
            </div>
          </div>

          <div class="spacer"></div>
          <button class="button" type="submit">Edit</button>
        </form>
      </template>
    </modal>
  </div>


</template>

<script>
import {mapGetters} from "vuex";
import modal from "@/components/shared/custom_modal";
import employee_selector_modal from "@/components/calendar/employee_selector_modal";
import edit_info_modal from "@/components/shared/edit_info_modal";

export default {
  name: "edit_job_modal",
  props: ['show', 'job'],
  components: {modal, employee_selector_modal, edit_info_modal},
  computed: {
    ...mapGetters([
      'projectsForSchedule',
      'employeeById',
      'projectById',
      'scheduleSuccess',
      'showScheduleEditConfirmModal',
    ]),
  },
  mounted() {
    this.jobToEdit.employeeIds.forEach(emplId => {
      this.addedEmployees.push(this.employeeById(emplId))
    })
  },
  methods: {
    closeModal() {
      this.$emit('closeModal');
    },
    hideModal() {
      this.showEmployeeList = false
    },
    parseDate(date) {
      return date.slice(0, 10)
    },
    assignEmployees(payload) {
      this.showEmployeeList = false;
      this.addedEmployees = payload;
    },
    getProjectById(customerId, projectId) {
      return this.$store.getters.projectById(customerId, projectId)

    },
    editJob() {
      this.$store.dispatch("editJob", this.jobToEdit);
      if(this.scheduleSuccess){
        this.closeModal();
      }
    },
  },
  data() {
    return {
      addedEmployees: [],
      showEmployeeList: false,
      jobToEdit: {
        id: this.job.id,
        workingDate: this.parseDate(this.job.workingDate),
        startTime: this.job.startTime,
        endTime: this.job.endTime,
        todayTasks: this.job.todayTasks,
        customerId: this.job.customerId,
        projectId: this.job.projectId,
        employeeIds: this.job.employeeIds
      },
      selectedProject: this.getProjectById(this.job.customerId, this.job.projectId),
    }
  },

}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

h2 {
  margin-bottom: 1em;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin: auto;
  height: 100%;

  .select_wrapper {
    position: relative;
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
  }

  .select_wrapper::after {
    content: "▼";
    font-size: 1rem;
    top: 40%;
    color: $grey;
    right: 10px;
    position: absolute;
  }

  label {
    font-weight: bold;

    span {
      font-size: .8em;
      font-weight: normal;
    }
  }

  input[type="time"]::-webkit-calendar-picker-indicator {
    filter: invert(58%) sepia(13%) saturate(9%) hue-rotate(8deg) brightness(101%) contrast(91%);
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(58%) sepia(13%) saturate(9%) hue-rotate(8deg) brightness(101%) contrast(91%);
  }

  input, select, textarea {
    width: 100%;
    height: 55px;
    margin: .5em 0;
    padding: .8em;
    border: none;
    border-bottom: 1px solid $grey;
    box-sizing: border-box;
    /* input / default */
  }

  select {
    -webkit-appearance: none;
    appearance: none;
  }


  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $grey;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $grey;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $grey;
  }

  .times {
    display: flex;
    width: 100%;

    .time_entry {
      flex: 1 1 0;
    }
  }

  .assigned_employees {
    display: flex;
    margin-top: .5em;

    .add_employee_button {
      margin: .3em;
      border-radius: 50%;
      border: rgba($purple, .5) 2px dashed;
      color: rgba($purple, .5);
      box-sizing: border-box;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;

      .plus {
        font-size: 1.2em;
        text-align: center;
        font-weight: bold;
      }


      &:hover {
        cursor: pointer;
      }
    }

    .single_employee {
      margin: .3em;

      .removeEmployee {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .8em;
        font-weight: bold;
        border-radius: 50%;
        color: white;
        background-color: rgba(253, 85, 85, 1);
      }
    }

    .single_employee:nth-child(1) {
      margin-left: 0;
    }
  }

  .spacer {
    display: flex;
    flex-grow: 1;

  }

  .button {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: .6em;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    background-color: $purple;
  }
}


</style>