<template>
  <modal
      v-show="show_modal"
      @close="closeModal">
    <template v-slot:header>
      <h2>Assign employees to a job</h2>
    </template>

    <template v-slot:body>
      <div class="list">
        <div class="checkbox_line" v-for="employee in employees">
          <input type="checkbox" id="jack" :value="employee" v-model="selected_employees">
          <label for="jack"> {{ employee.firstName }} {{ employee.lastName }}</label>
        </div>
      </div>
    </template>

    <template v-slot:footer>
      <button class="button" @click="$emit('assignEmployees', selected_employees)">Save</button>
    </template>
  </modal>
</template>

<script>
import {mapGetters} from "vuex";
import purple_button from "../shared/purple_button";
import addButton from "@/components/shared/addButton";
import modal from "@/components/shared/custom_modal";

export default {
  name: "employee_selector_modal",
  components: {purple_button, addButton, modal},
  props: ['show_modal', 'initialEmployees'],
  computed: {
    ...mapGetters([
      'employees',
    ]),
  },

  mounted() {
    },
  data() {
    return {
      selected_employees: this.initialEmployees,
    }
  },
  methods: {
    closeModal() {
      this.$emit('closeModal');
    },
  }
}
</script>

<style scoped lang="scss">
@import "../../styles/colors";

h2{
  padding: 1em 1em 0 1em;
}

.list {
  max-width: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-flow: wrap column;
  align-items: flex-start;

  .checkbox_line{
    margin-bottom: .3em;

    label {
      font-size: 1.2em;
    }
  }
}

.button {
  margin: auto;
  margin-bottom: .7em;
  width: 80%;
  padding: .6em;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  background-color: $purple;
}

</style>